doctype html 
html 
    include component/head.pug
    body 
        include component/admin-header.pug 
        .hr
        main.main
            include component/admin-left-menu.pug
            .content-wrapper
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black
                        |  Информация
                        img(src="icon/arrow-nav.svg", alt="")
                        | тип транспорта
                .profile
                    .save-change
                        a.button.blue.size-20.text-white(href='admin-info-type-sports-add.html') Добавить тип транспорта
                .nav-line.content
                    .search-line.button.white-blue-border.top-search.search-filter
                        .search-image.blue-search
                        input.size-14(type="text" placeholder="Быстрый поиск")
                .profile.margin-end
                    .page-card-list-small
                        .card.button
                            .card-image 
                                img(src="images/velo1.png", alt="")
                            .card-title 
                                .size-26.text-black Городской<br> велосипед
                                .arrow-more
                            .change-card 
                                a.size-18.text-blue(href='admin-info-edit.html') 
                                    img(src="icon/return.svg", alt="")
                                    | Изменить
                                .size-18.text-red
                                    img(src="icon/del.svg", alt="")
                                    | Удалить
                        .card.button
                            .card-image 
                                img(src="images/velo2.png", alt="")
                            .card-title 
                                .size-26.text-black Горный<br> велосипед
                                .arrow-more
                            .change-card 
                                a.size-18.text-blue(href='admin-info-edit.html') 
                                    img(src="icon/return.svg", alt="")
                                    | Изменить
                                .size-18.text-red
                                    img(src="icon/del.svg", alt="")
                                    | Удалить
                        .card.button
                            .card-image 
                                img(src="images/velo3.png", alt="")
                            .card-title 
                                .size-26.text-black BMX
                                .arrow-more
                            .change-card 
                                a.size-18.text-blue(href='admin-info-edit.html') 
                                    img(src="icon/return.svg", alt="")
                                    | Изменить
                                .size-18.text-red
                                    img(src="icon/del.svg", alt="")
                                    | Удалить
                        .card.button
                            .card-image 
                                img(src="images/velo4.png", alt="")
                            .card-title 
                                .size-26.text-black Шоссейный<br> велосипед
                                .arrow-more
                            .change-card 
                                a.size-18.text-blue(href='admin-info-edit.html') 
                                    img(src="icon/return.svg", alt="")
                                    | Изменить
                                .size-18.text-red
                                    img(src="icon/del.svg", alt="")
                                    | Удалить
                        
        include component/footer.pug