doctype html 
html 
    include component/head.pug
    body 
        include component/admin-header.pug 
        .hr
        include component/admin-left-menu.pug 
        .nav-line.content
            .nav-title.size-50.weight-500.text-black
                |  Реклама
        include component/footer.pug