doctype html 
html 
    include component/head.pug
    body 
        include component/admin-header.pug 
        .hr
        include component/admin-left-menu.pug 
        .profile 
            .storage 
                .top-label
                    .size-50
                        .weight-500.text-black Кладовка
                        a.blue.button.text-white.size-20(href="user-storage-add.html") Добавить снаряжение
                .card-grid.card-line
                    .card.button 
                        a.card-image(href='admin-equipment.html') 
                            img(src="images/storage.png", alt="")
                        a.card-title(href='admin-equipment.html') 
                            .size-26.weight-500.text-black Снаряжение 1 
                            .arrow-more
                        .delete 
                            img(src="icon/del.svg", alt="")
                            .text-red.size-16 Удалить
                    .card.button 
                        a.card-image(href='admin-equipment.html') 
                            img(src="images/storage.png", alt="")
                        a.card-title(href='admin-equipment.html') 
                            .size-26.weight-500.text-black Снаряжение 1
                            .arrow-more
                        .delete 
                            img(src="icon/del.svg", alt="")
                            .text-red.size-16 Удалить
                    .card.button 
                        a.card-image(href='admin-equipment.html') 
                            img(src="images/storage.png", alt="")
                        a.card-title(href='admin-equipment.html') 
                            .size-26.weight-500.text-black Снаряжение 1
                            .arrow-more
                        .delete 
                            img(src="icon/del.svg", alt="")
                            .text-red.size-16 Удалить
                    .card.button 
                        a.card-image(href='admin-equipment.html') 
                            img(src="images/storage.png", alt="")
                        a.card-title(href='admin-equipment.html') 
                            .size-26.weight-500.text-black Снаряжение 1
                            .arrow-more
                        .delete 
                            img(src="icon/del.svg", alt="")
                            .text-red.size-16 Удалить
                    .card.button 
                        a.card-image(href='admin-equipment.html') 
                            img(src="images/storage.png", alt="")
                        a.card-title(href='admin-equipment.html') 
                            .size-26.weight-500.text-black Снаряжение 1
                            .arrow-more
                        .delete 
                            img(src="icon/del.svg", alt="")
                            .text-red.size-16 Удалить
                    .card.button 
                        a.card-image(href='admin-equipment.html') 
                            img(src="images/storage.png", alt="")
                        a.card-title(href='admin-equipment.html') 
                            .size-26.weight-500.text-black Снаряжение 1
                            .arrow-more
                        .delete 
                            img(src="icon/del.svg", alt="")
                            .text-red.size-16 Удалить
        include component/footer.pug 