doctype html 
html 
    include component/head.pug
    body 
        include component/admin-header.pug 
        .hr
        main.main
            include component/admin-left-menu.pug 
            .content-wrapper
                .nav-line.content
                    .nav-title.size-50.weight-500.text-black 
                        | Пользователи на сайте
                .nav-line.content.desktop
                    .search-line.button.white-blue-border.top-search.desktop
                        .search-image.blue-search
                        input.size-14.text-blue(type="text" placeholder="Поиск пользователя")
                        button.blue.button.size-14.text-white Поиск
                    .nav-sort.light-blue-blue-border.text-blue.size-14.button
                        .nav-sort-line.blue.text-white.button Онлайн
                        .nav-sort-line.button Не в сети
                        .nav-sort-line.button Все
                - for (var x = 0; x < 3; x++)
                    .participants-line
                        .profile
                            .user
                                .user-label
                                    .user-photo
                                        a(href='admin-profile.html')
                                            img(src="images/user-photo.png", alt="")
                                        .online
                                    a.user-info(href='admin-profile.html')
                                        .user-name.size-26.text-black Андрей Кулагин
                                        .user-level.size-16.text-grey-2 Мастер
                                        .user-location.size-16.text-grey-2 Москва, Россия
                            .delete 
                                img(src="icon/del.svg", alt="")
                                .text-red.size-20.desktop Удалить
                .participants-line.margin-end
                    .profile
                        .user
                            .user-label
                                .user-photo
                                    a(href='admin-profile.html')
                                        img(src="images/user-photo.png", alt="")
                                    .online
                                a.user-info(href='admin-profile.html')
                                    .user-name.size-26.text-black Андрей Кулагин
                                    .user-level.size-16.text-grey-2 Мастер
                                    .user-location.size-16.text-grey-2 Москва, Россия
                        .delete 
                            img(src="icon/del.svg", alt="")
                            .text-red.size-20.desktop Удалить
        include component/footer.pug