doctype html 
html 
    include component/head.pug
    body 
        include component/admin-header.pug 
        .hr
        main.main
            include component/admin-left-menu.pug
            .content-wrapper
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black
                        |  Информация
                        img(src="icon/arrow-nav.svg", alt="")
                        | марка транспорта
                .profile
                    .save-change
                        a.button.blue.size-20.text-white(href='admin-info-mark-sports-add.html') Добавить марку транспорта
                .nav-line.content
                    .search-line.button.white-blue-border.top-search.search-filter
                        .search-image.blue-search
                        input.size-14(type="text" placeholder="Быстрый поиск")
                .participants-line
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                            img(src="icon/mark1.svg", alt="") 
                            | Cannondale
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить
                .hr 
                .participants-line
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                            img(src="icon/mark2.svg", alt="") 
                            | Corratec
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить
                .hr 
                .participants-line
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                            img(src="icon/mark3.svg", alt="") 
                            | GT
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить
                .hr 
                .participants-line
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                            img(src="icon/mark4.svg", alt="") 
                            | Jamis
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить                
                .hr 
                .participants-line
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                            img(src="icon/mark5.svg", alt="") 
                            | Mongoose
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить             
                .hr 
                .participants-line
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                            img(src="icon/mark6.svg", alt="") 
                            | Outleap
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить               
                .hr 
                .participants-line
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                            img(src="icon/mark7.svg", alt="") 
                            | Pure Fix
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить             
                .hr 
                .participants-line
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                            img(src="icon/mark8.svg", alt="") 
                            | Zycle Fix
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить              
                .hr 
                .participants-line
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                            img(src="icon/mark9.svg", alt="") 
                            | Nirve
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить              
                .hr 
                .participants-line
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                            img(src="icon/mark10.svg", alt="") 
                            | Bickerton
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить             
                .hr 
                .participants-line
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html')  
                            img(src="icon/mark11.svg", alt="") 
                            | Outleap
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить              
                .hr 
                .participants-line.margin-end
                    .profile
                        a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                            img(src="icon/mark12.svg", alt="") 
                            | Ubike
                        .list-button
                            .size-18.text-blue 
                                img(src="icon/return.svg", alt="")
                                | Изменить
                            .size-18.text-red
                                img(src="icon/del.svg", alt="")
                                | Удалить               
                                    
        include component/footer.pug