doctype html 
html 
    include component/head.pug
    body 
        include component/admin-header.pug 
        .hr
        main.main
            include component/admin-left-menu.pug 
            .content-wrapper
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black 
                        | Состояние портала
                .profile 
                    .status-cards
                        
                        a.status-card.card(href='admin-users.html') 
                            .admin-gradient.right
                            .size-60.text-black 200
                            .size-26.text-black Пользователей на сайте
                        a.status-card.card(href='admin-bortjournal.html') 
                            .admin-gradient.top-right
                            .admin-gradient
                            .size-60.text-black 2000
                            .size-26.text-black Бортжурналов на сайте
                        a.status-card.card(href='admin-storages.html') 
                            .admin-gradient.top-left
                            .size-60.text-black 1000
                            .size-26.text-black Кладовок на сайте
                    .admin-menu-content.big-admin-menu
                        .admin-menu-content-part.size-30.active Текущие сообщения
                        .admin-menu-content-part.size-30 Недавно закрытые
                .hr.desktop
                .profile.margin-end 
                    .now-messege 
                        .not-now-messege 
                            .size-30 В последнее время не было никаких проблем или событий
                    .old-messege 
                        .old-mess-line 
                            .size-20.text-grey Перегрузка сервера
                            .size-20.text-grey 04.04.2022
                        .old-mess-line 
                            .size-20.text-grey Перегрузка сервера
                            .size-20.text-grey 04.04.2022
                        .old-mess-line 
                            .size-20.text-grey Перегрузка сервера
                            .size-20.text-grey 04.04.2022
                        .old-mess-line 
                            .size-20.text-grey Перегрузка сервера
                            .size-20.text-grey 04.04.2022
        include component/footer.pug