doctype html 
html 
    include component/head.pug
    body 
        include component/admin-header.pug 
        .hr
        main.main
            include component/admin-left-menu.pug 
            .content-wrapper
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black 
                        | Бортжурналы
                .nav-line.content.desktop
                    .search-line.button.white-blue-border.top-search.desktop
                        .search-image.blue-search
                        input.size-14.text-blue(type="text" placeholder="Поиск")
                        button.blue.button.size-14.text-white Поиск
                    .nav-sort.light-blue-blue-border.text-blue.size-12.button
                        .nav-sort-line.blue.text-white.button По популярности
                        .nav-sort-line.button По коментариям
                        .nav-sort-line.button По дате
                .profile.margin-end 
                    .page-card-list-small
                        - for (var x = 0; x < 6; x++)
                            .card.button.card-map
                                a.card-image(href='user-equipment.html') 
                                    .admin-card-button 
                                        .size-18.text-red
                                            img(src="icon/del.svg", alt="")
                                        .size-18.text-blue 
                                            img(src="icon/return.svg", alt="")
                                    img(src="images/product.png", alt="")
                                .card-title.product-title
                                    a.size-20.weight-500.text-black(href='user-equipment.html') Велосипед Cannondale
                                    .card-bottom.open-user-card
                                        .card-bottom-info
                                            button.weight-500.size-18.open-user-card Name 1
                                            .user-card.white-white-border.card
                                                .user 
                                                    .user-label
                                                        .user-photo
                                                            a(href='user-profile.html')
                                                                img(src="images/user-photo.png", alt="")
                                                            .online
                                                        a.user-info(href='user-profile.html')
                                                            .user-name.size-30.weight-500.text-black Андрей Кулагин
                                                            .user-level.text-grey-2 Мастер
                                                            .user-location.text-grey-2 Москва, Россия
                                                    .user-button
                                                        button.user-follow.blue.text-white.size-20 Подписаться
                                                        button.user-mess.white-blue-border.text-blue.size-20 Сообщение
                                            .size-14 Россия, Москва
                                        .card-content-bottom
                                            button.button.size-22.text-black-2
                                                img.like(src="icon/like.svg", alt="")
                                                | 20
                                            button.button.size-22.text-black-2
                                                img(src="icon/comment.svg", alt="")
                                                | 25
        include component/footer.pug