doctype html 
html 
    include component/head.pug
    body 
        include component/admin-header.pug 
        .hr
        main.main
            include component/admin-left-menu.pug 
            .content-wrapper
                .nav-line.content
                    .top-label
                        .size-50
                            .weight-500.text-black Мероприятия
                .nav-line.content
                    .search-line.button.white-blue-border.top-search.search-filter
                        .search-image.blue-search
                        input.size-14.text-blue(type="text" placeholder="Фильтр по стране или городу")
                    .nav-sort.light-blue-blue-border.text-blue.size-14.button
                        .nav-sort-line.blue.text-white.button По теме
                        .nav-sort-line.button По дате
                        .nav-sort-line.button По участникам
                .profile
                    .card-line-1 
                        .card.button.card-map 
                            .card-image
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .status.white-white-border.button.text-green Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    a.size-40.text-black(href='admin-about-event.html') Название
                                    .size-20px.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                        .card.button.card-map 
                            .card-image
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .status.white-white-border.button.text-green Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    a.size-40.text-black(href='admin-about-event.html') Название
                                    .size-20px.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный количественный рост...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                    .card-line-2
                        .card.button.card-map 
                            .card-image
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .status.white-white-border.button.text-green Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    a.size-40.text-black(href='admin-about-event.html') Название
                                    .size-20px.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                        .card.button.card-map 
                            .card-image
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .status.white-blue-border.button.text-blue В процессе
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    a.size-40.text-black(href='admin-about-event.html') Название
                                    .size-20px.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                        .card.button.card-map 
                            .card-image
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .status.white-white-border.button.text-green Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    a.size-40.text-black(href='admin-about-event.html') Название
                                    .size-20px.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                    .card-list 
                        .card.button.card-h
                                .status.white-blue-border.button.text-blue В процессе
                                .card-h-left
                                    .card-h-image 
                                        
                                        img(src="images/map.png", alt="")
                                    .card-h-info 
                                        .size-16.weight-500.text-black 07.12.2021
                                        a.size-40.text-black(href='admin-about-event.html') Название 
                                        .text-black Значимость этих проблем настолько очевидна, что постоянный...
                                        .participants 
                                            .participants-photos
                                                .participants-photo
                                                    img(src="images/comment-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/user-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/photo.png", alt="")
                                            .text-black 10 участников
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                        .card.button.card-h
                                .status.white-green-border.button.text-green Скоро начнётся
                                .card-h-left
                                    .card-h-image 
                                        
                                        img(src="images/map.png", alt="")
                                    .card-h-info 
                                        .size-16.weight-500.text-black 07.12.2021
                                        a.size-40.text-black(href='admin-about-event.html') Название 
                                        .text-black Значимость этих проблем настолько очевидна, что постоянный...
                                        .participants 
                                            .participants-photos
                                                .participants-photo
                                                    img(src="images/comment-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/user-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/photo.png", alt="")
                                            .text-black 10 участников
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                        .card.button.card-h
                                .status.white-orange-border.button.text-orange Закончилось
                                .card-h-left
                                    .card-h-image 
                                        
                                        img(src="images/map.png", alt="")
                                    .card-h-info 
                                        .size-16.weight-500.text-black 07.12.2021
                                        a.size-40.text-black(href='admin-about-event.html') Название 
                                        .text-black Значимость этих проблем настолько очевидна, что постоянный...
                                        .participants 
                                            .participants-photos
                                                .participants-photo
                                                    img(src="images/comment-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/user-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/photo.png", alt="")
                                            .text-black 10 участников
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-delete.svg", alt="")
                                        | Удалить
                                    .user-button-line
                                        img(src="icon/black-return.svg", alt="")
                                        | Изменить
        include component/footer.pug