doctype html 
html 
    include component/head.pug
    body 
        include component/admin-header.pug 
        .hr
        main.main
            include component/admin-left-menu.pug 
            .content-wrapper
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black 
                        | Информация
                .profile.min-height
                    .admin-information-list
                        a.admin-information-title.size-26.text-black(href='admin-info-edit-list.html') Виды спорта
                        a.admin-informarion-add.text-black(href='admin-info-add.html') 
                            .underline Добавить
                            .arrow-forward 
                                img(src="icon/arrow-more.svg", alt="")
                    .admin-information-list
                        a.admin-information-title.size-26.text-black(href='admin-info-type-sports-edit-list.html') Тип транспорта
                        a.admin-informarion-add.text-black(href='admin-info-type-sports-add.html') 
                            .underline Добавить
                            .arrow-forward 
                                img(src="icon/arrow-more.svg", alt="")
                    .admin-information-list
                        a.admin-information-title.size-26.text-black(href='admin-info-mark-sports-edit-list.html') Марка транспорта
                        a.admin-informarion-add.text-black(href='admin-info-mark-sports-add.html')  
                            .underline Добавить
                            .arrow-forward 
                                img(src="icon/arrow-more.svg", alt="")
                    .admin-information-list
                        a.admin-information-title.size-26.text-black(href='admin-info-edit-list.html') Роли пользователей
                        a.admin-informarion-add.text-black(href='admin-info-add.html')  
                            .underline Добавить
                            .arrow-forward 
                                img(src="icon/arrow-more.svg", alt="")
                    .admin-information-list
                        a.admin-information-title.size-26.text-black(href='admin-info-edit-list.html') Уровень подготовки
                        a.admin-informarion-add.text-black(href='admin-info-add.html')  
                            .underline Добавить
                            .arrow-forward 
                                img(src="icon/arrow-more.svg", alt="")
                    .admin-information-list
                        a.admin-information-title.size-26.text-black(href='admin-info-edit-list.html') О чём
                        a.admin-informarion-add.text-black(href='admin-info-add.html')  
                            .underline Добавить
                            .arrow-forward 
                                img(src="icon/arrow-more.svg", alt="")
                    .admin-information-list
                        a.admin-information-title.size-26.text-black(href='admin-info-edit-list.html') С чем помочь
                        a.admin-informarion-add.text-black(href='admin-info-add.html')  
                            .underline Добавить
                            .arrow-forward 
                                img(src="icon/arrow-more.svg", alt="")
        include component/footer.pug