doctype html 
html 
    include component/head.pug
    body 
        include component/guest-header.pug 
        .hr
        include component/guest-left-menu.pug 
        .profile 
            .storage 
                .top-label
                    a.size-50.weight-500.text-black(href='guest-storage.html') Кладовка
                .card-grid.card-line
                    a.card.button(href='guest-equipment.html') 
                        .card-image 
                            img(src="images/storage.png", alt="")
                        .card-title 
                            .size-26.weight-500.text-black Снаряжение 1 
                            .arrow-more
                    a.card.button(href='guest-equipment.html') 
                        .card-image 
                            img(src="images/storage.png", alt="")
                        .card-title 
                            .size-26.weight-500.text-black Снаряжение 1
                            .arrow-more
                    a.card.button(href='guest-equipment.html') 
                        .card-image 
                            img(src="images/storage.png", alt="")
                        .card-title 
                            .size-26.weight-500.text-black Снаряжение 1
                            .arrow-more
                    a.card.button(href='guest-equipment.html') 
                        .card-image 
                            img(src="images/storage.png", alt="")
                        .card-title 
                            .size-26.weight-500.text-black Снаряжение 1
                            .arrow-more
                    a.card.button(href='guest-equipment.html') 
                        .card-image 
                            img(src="images/storage.png", alt="")
                        .card-title 
                            .size-26.weight-500.text-black Снаряжение 1
                            .arrow-more
                    a.card.button(href='guest-equipment.html') 
                        .card-image 
                            img(src="images/storage.png", alt="")
                        .card-title 
                            .size-26.weight-500.text-black Снаряжение 1
                            .arrow-more
        include component/footer.pug 