doctype html 
html 
    include component/head.pug
    body 
        include component/partners-header.pug 
        .hr
        include component/partners-left-menu.pug 
        .nav-line.content
            .nav-title.size-50.weight-500.text-black 
                | Добавить скидку
        .profile 
            .add-journal-top 
                .add-journal-note 
                    .size-30.text-black Название компании
                    input.light-blue-blue-border.button.size-20(type="text")
                .add-journal-note 
                    .size-30.text-black Сайт компании
                    input.light-blue-blue-border.button.size-20(type="text" value='www.aaaa.com')
        .hr
        .profile 
            .add-journal-note 
                .size-30.text-black Описание 
                .textarea-icon 
                    button.textarea-icon-button 
                        img(src="icon/area-icon-1.svg", alt="")
                    button.textarea-icon-button 
                        img(src="icon/area-icon-2.svg", alt="")
                    button.textarea-icon-button 
                        img(src="icon/area-icon-3.svg", alt="")
                    button.textarea-icon-button 
                        img(src="icon/area-icon-4.svg", alt="")
                    button.textarea-icon-button 
                        img(src="icon/area-icon-5.svg", alt="")
                    button.textarea-icon-button 
                        img(src="icon/area-icon-6.svg", alt="")
                    button.textarea-icon-button 
                        img(src="icon/area-icon-7.svg", alt="")
                textarea.light-blue-blue-border(name="", cols="30", rows="30") 
            .add-journal-note 
                .size-30.text-black 
                    | Преимущества
                .size-30.text-black 
                    .size-20
                        img(src="icon/grey-smile.svg", alt="")
                        | Иконка преимущества
                    .edit-description 
                        .text-black-2.size-20 Добавить ещё
                        .text-black-2.size-20 Дублировать
                        .text-black-2.size-20 Удалить
                textarea.light-blue-blue-border.width-100(name="", cols="30", rows="3" placeholder='Текст преимущества') 
        .hr 
        .profile 
            .add-journal-top 
                .add-journal-note 
                    .size-30.text-black Загрузить логотип
                    .add-photo.margin-0
                        .light-blue-blue-border
                    .change-card 
                        .size-18.text-blue 
                            img(src="icon/return.svg", alt="")
                            | Заменить
                        .size-18.text-red
                            img(src="icon/del.svg", alt="")
                            | Удалить
                                
                .add-journal-note 
                    .size-30.text-black Загрузить обложку
                    .add-photo.margin-0
                        .light-blue-blue-border
                    .change-card 
                        .size-18.text-blue 
                            img(src="icon/return.svg", alt="")
                            | Заменить
                        .size-18.text-red
                            img(src="icon/del.svg", alt="")
                            | Удалить
        .hr 
        .nav-line.content
            .nav-title.size-30.text-black 
                | Контакты
        .profile.margin-end
            .add-place-map
                .place-map.button
                    button.place-label#l-1
                        img(src="icon/location.svg", alt="")
            .profile-edit-field 
                .profile-edit-line
                    .profile-edit-title.size-20.text-black Адрес
                    .profile-edit-input
                        input.light-blue-blue-border.button.size-16(type="text" placeholder='Страна, город, дом')
                    .profile-edit-text
                .profile-edit-line
                    .profile-edit-title.size-20.text-black Телефон
                    .profile-edit-input
                        input.light-blue-blue-border.button.size-16(type="text" placeholder='+7 (909) 999-99-99')
                    .profile-edit-text
                .profile-edit-line
                    .profile-edit-title.size-20.text-black Email
                    .profile-edit-input
                        input.light-blue-blue-border.button.size-16(type="text" placeholder='example@gmail.com')
                    .profile-edit-text
                .profile-edit-line
                    .profile-edit-title.size-20.text-black Режим работы
                    .profile-edit-input
                        input.light-blue-blue-border.button.size-16(type="text" placeholder='Пн ‒ пт с 10:00 до 19:00')
                    .profile-edit-text
            .save-change
                a.button.blue.size-20.text-white(href='partners-add-sale.html') Опубликовать
        include component/footer.pug