doctype html 
html 
    include component/head.pug
    body 
        include component/partners-header.pug 
        .hr
        main.main
            include component/partners-left-menu.pug 
            include component/partners-filter.pug
            .content-wrapper.pd-40
                .nav-line.content
                    .nav-title.size-50.weight-500.text-black 
                        | Поиск компаний
                .description.margin-end
                    .partners-card.card
                        .user 
                            .user-label
                                .user-photo
                                    a(href='partners-index.html')
                                        img(src="icon/sportmaster.svg", alt="")
                                    .online
                                .user-info
                                    .user-name.size-26.text-black Спортмастер
                                    .size-18.text-black-2 Таким образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации 
                            .user-button
                                .bookmark 
                        .partners-sales 
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на беговые лыжи
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на велосипеды
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на всё
                        .partners-card-bottom 
                            .text-black-2 Открыто до 20:00 
                            .text-black-2 Россия, Москва 
                    .partners-card.card
                        .user 
                            .user-label
                                .user-photo
                                    a(href='partners-index.html')
                                        img(src="icon/sportmaster.svg", alt="")
                                    .online
                                .user-info
                                    .user-name.size-26.text-black Спортмастер
                                    .size-18.text-black-2 Таким образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации 
                        
                            .user-button
                                .bookmark 
                        .partners-sales 
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на беговые лыжи
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на велосипеды
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на всё
                        .partners-card-bottom 
                            .text-black-2 Открыто до 20:00 
                            .text-black-2 Россия, Москва 
                    .partners-card.card
                        .user 
                            .user-label
                                .user-photo
                                    a(href='partners-index.html')
                                        img(src="icon/sportmaster.svg", alt="")
                                    .online
                                .user-info
                                    .user-name.size-26.text-black Спортмастер
                                    .size-18.text-black-2 Таким образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации 

                            .user-button
                                .bookmark 
                        .partners-sales 
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на беговые лыжи
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на велосипеды
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на всё
                        .partners-card-bottom 
                            .text-black-2 Открыто до 20:00 
                            .text-black-2 Россия, Москва 
                    .partners-card.card
                        .user 
                            .user-label
                                .user-photo
                                    a(href='partners-index.html')
                                        img(src="icon/sportmaster.svg", alt="")
                                    .online
                                .user-info
                                    .user-name.size-26.text-black Спортмастер
                                    .size-18.text-black-2 Таким образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации 
        
                            .user-button
                                .bookmark 
                        .partners-sales 
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на беговые лыжи
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на велосипеды
                            .button.light-green-green-border.text-green.size-16 Скидка 10% на всё
                        .partners-card-bottom 
                            .text-black-2 Открыто до 20:00 
                            .text-black-2 Россия, Москва 
        include component/footer.pug