doctype html 
html 
    include component/head.pug
    body 
        include component/partners-header.pug 
        .hr
        main.main
            include component/partners-left-menu.pug 
            .content-wrapper
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black 
                        | Рекламная кампания
                .profile
                    .advertisement-line 
                        .advertisement-info 
                            .size-30 Баннер 1156×320 в верхней части страниц
                            .size-20 Баннер показывается на главной странице как зарегистрированным, так и незарегистрированным пользователям. Также доступны для показа и другие разделы Extreme.
                            button.button.light-blue-blue-border.text-blue.size-20(style='display: none;') Загрузить баннер
                        .advertisement-image
                            img(src="icon/example-1.svg", alt="")
                .hr
                .profile
                    .advertisement-line 
                        .advertisement-info 
                            .size-30 Баннер 269×388 на внутренних страницах
                            .size-20 Баннер показывается на главной странице как зарегистрированным, так и незарегистрированным пользователям. Также доступны для показа и другие разделы Extreme.
                            button.button.light-blue-blue-border.text-blue.size-20(style='display: none;') Загрузить баннер
                        .advertisement-image
                            img(src="icon/example-2.svg", alt="")
                .hr 
                .description.margin-end 
                    .save-change
                        a.button.blue.size-20.text-white(href='partners-add-advertisement.html') Создать
        include component/footer.pug