doctype html 
html 
    include component/head.pug
    body 
        include component/guest-header.pug 
        .hr
        .content.login-content.return-password
            .login-gradient
            .login-info 
                .size-50.weight-500 Восстановление пароля
                .social 
                    .size-16.text-black Быстрый вход через соцсеть
                    .social-line 
                        .social-part 
                            img(src="icon/color-vk.svg", alt="")
                        .social-part 
                            img(src="icon/color-fb.svg", alt="")
                        .social-part 
                            img(src="icon/color-yn.svg", alt="")
                        .social-part 
                            img(src="icon/color-gl.svg", alt="")
            .login-form 
                form(action="", method="post") 
                    .input-form
                        .whith-text
                            input.light-blue-blue-border.text-blue(type="email", name="" placeholder='Email*')
                            .size-12.text-grey-2 Мы отправим письмо с ссылкой 
                                br
                                | для восстановления пароля 
                        
                    input.button.blue.text-white(type="submit", value="Восстановить пароль")
                    .size-12.text-grey-2 
                        | Нажимая «Восстановить пароль», Вы принимаете условия
                        .underline пользовательского соглашения
        include component/footer.pug 