@media (max-width: 460px) {
  body {
    font-size: 14px;
  }

  button {
    border-radius: 23px;
  }

  .size-50 {
    font-size: 30px;
  }

  .size-14 {
    font-size: 12px;
  }

  .size-16 {
    font-size: 8px;
  }

  .size-40 {
    font-size: 20px;
  }

  .size-30 {
    font-size: 20px;
  }

  .size-20 {
    font-size: 14px;
  }

  .size-24 {
    font-size: 12px;
  }

  .size-26 {
    font-size: 14px;
  }

  .size-18 {
    font-size: 12px;
  }

  .header .menu {
    height: 72px;
  }
  .header .menu .logo {
    width: 75px;
    height: 40px;
  }
  .header .menu .menu-right {
    width: 107px;
  }
  .header .menu .menu-right .theme {
    display: none;
  }
  .header .menu .menu-right .blue {
    display: none;
  }
  .header .menu .menu-right .mobile-login {
    display: block;
  }
  .header .menu .menu-right .mobile-menu {
    display: block;
  }
  .header .header-content {
    background-image: url(images/header-mobile.png);
    height: 181.5625vw;
    padding-top: 42.8125vw;
  }
  .header .header-content .left-gradient {
    width: 50vw;
    height: 62.5vw;
    top: 115.625vw;
  }
  .header .header-content .right-gradient {
    width: 8.3333333333vw;
    height: 10.4166666667vw;
    top: -31.25vw;
  }
  .header .header-content .center-search {
    height: 150px;
  }
  .header .header-content .center-search .request-line .request {
    display: none;
  }

  .content {
    padding: 0 4.6875vw;
  }

  .search-line {
    width: 100%;
    height: 37px;
    padding-left: 16px;
  }
  .search-line .search-image {
    width: 19px;
    height: 19px;
  }
  .search-line input {
    width: 40.625vw;
  }
  .search-line .filter-image {
    width: 23px;
    height: 16px;
  }
  .search-line .button {
    width: 78px;
    height: 100%;
  }

  .left-menu {
    display: none;
  }

  .top-search {
    width: auto;
    height: auto;
    padding-left: 0;
    margin-left: 25.625vw;
    border: none;
  }
  .top-search .search-image {
    background-image: url(icon/black-search.svg);
    width: 25px;
    height: 25px;
  }
  .top-search input {
    display: none;
  }
  .top-search .button {
    display: none;
  }

  .card {
    box-shadow: 4px 6px 40px rgba(9, 27, 94, 0.09);
  }
  .card .card-image img {
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
  }

  .button {
    border-radius: 23px;
  }

  .page-card {
    margin-top: -21.25vw;
    border-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .page-card .page-card-t {
    padding: 10.625vw 0;
  }
  .page-card .page-card-list {
    padding: 0 0 25.625vw;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 9.0625vw;
  }

  .card {
    width: 100%;
    height: 72.8125vw;
  }
  .card .card-title {
    padding: 0 6.875vw;
  }
  .card .card-title .arrow-more {
    background-image: url(icon/arrow-more.svg);
    background-size: 100% 100%;
    width: 35px;
    height: 15px;
  }

  .footer {
    box-sizing: border-box;
    height: 320px;
    padding: 29px 4.6875vw 23px;
  }
  .footer .footer-list {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-list .footer-col .footer-link {
    margin-bottom: 13px;
  }
  .footer .footer-list .footer-col .footer-social .social {
    margin-right: 22px;
    height: 22px;
  }

  .up {
    position: static;
    /*right: calc(100vw * (15 / 320));
    bottom: 240px;*/
    margin-left: 79.375vw;
    margin-top: -75vw;
    width: 15.9375vw;
    height: 15.9375vw;
  }
  .up img {
    width: 100%;
    height: 100%;
  }

  .right-filter {
    box-sizing: border-box;
    position: static;
    width: 100%;
    padding: 0 4.6875vw;
  }
  .right-filter .size-26 {
    padding: 1.5625vw;
    display: flex;
    align-items: center;
    text-align: start;
  }
  .right-filter .size-26 img {
    width: 11px;
    height: 6px;
    margin-right: 1.5625vw;
  }
  .right-filter .blue {
    width: 100%;
    align-self: center;
    padding: 2.8125vw 0;
    margin-top: 7.5vw;
    align-items: center;
  }

  .nav-line {
    margin: 0;
    margin-top: 9.0625vw;
  }
  .nav-line .nav-sort {
    width: 100%;
  }
  .nav-line .size-50 {
    font-size: 30px;
  }
  .nav-line .size-50 img {
    height: 20px;
    align-self: center;
    margin: 1.5625vw;
  }

  .advertisement-left {
    background: #E2E2E2;
    width: 100%;
    height: 50.3125vw;
    margin-top: 11.5625vw;
  }

  .user .user-label {
    display: flex;
    justify-content: space-between;
  }
  .user .user-label .user-photo {
    width: 67px;
    height: 67px;
    position: relative;
  }
  .user .user-label .user-photo img {
    width: 100%;
    height: 100%;
  }
  .user .user-label .user-info {
    height: 100%;
    margin-left: 2.8125vw;
    margin-right: 1.25vw;
  }
  .user .user-label .user-button {
    width: 5.2604166667vw;
  }

  .user-follow {
    display: none;
  }

  .user-button {
    display: none;
  }

  .user-button-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    padding: 31px 15px 31px 18px;
    width: 228px;
    height: 125px;
    right: 4.6875vw;
    margin-top: 18px;
  }
  .user-button-mobile .user-button-line {
    display: flex;
  }
  .user-button-mobile .user-button-line .bookmark {
    background-image: url(icon/bookmark.svg);
    background-size: 100% 100%;
    width: 17px;
    height: 22px;
    margin-right: 21px;
  }
  .user-button-mobile .user-button-line .share {
    background-image: url(icon/share.svg);
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
    margin-right: 15px;
  }

  .mobile-user-menu {
    background-image: url(icon/black-user-menu.svg);
    background-size: 100% 100%;
    width: 5px;
    height: 18px;
  }

  .tape-card {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 6.25vw 4.6875vw;
    margin: 4.6875vw 0;
  }

  .tape-list {
    width: 100%;
    margin: auto;
    margin-bottom: 20.3125vw;
    margin-top: 6.25vw;
  }

  .card-content .card-content-top {
    padding: 4.6875vw 0;
  }
  .card-content .card-content-more {
    padding: 3.4375vw 0;
  }
  .card-content .card-content-image {
    padding: 9.375vw 0 6.25vw;
  }
  .card-content .card-content-image img {
    width: 100%;
  }
  .card-content .card-content-bottom {
    display: flex;
  }
  .card-content .card-content-bottom .button {
    height: 35px;
    padding: 5px 7px;
    margin-right: 20px;
  }
  .card-content .card-content-bottom .button img {
    margin-right: 7px;
  }

  .mobile {
    display: block;
  }

  .podmenu-filter {
    font-size: 12px;
    margin-left: 8.75vw;
  }
  .podmenu-filter .podmenu-filter-link {
    margin: 2.1875vw 0;
  }
  .podmenu-filter .location {
    height: 33px;
    padding: 9px 19px;
  }
  .podmenu-filter .location::placeholder {
    font-size: 12px;
  }

  .desktop {
    display: none;
  }

  .online {
    width: 15px;
    height: 15px;
  }

  .description {
    box-sizing: border-box;
    width: 100%;
    padding: 10.9375vw 4.6875vw 6.25vw;
  }

  .user-follow {
    width: 100%;
    padding: 8px 0;
    align-items: center;
    margin-top: 6.5625vw;
  }

  .card-content-title {
    margin-bottom: 1.875vw;
  }

  .before {
    margin: 12.5vw 0;
  }
  .before .arrow-back {
    width: 18.75vw;
  }
  .before .before-info {
    height: 41px;
  }
  .before .before-info .before-theme {
    font-size: 12px;
  }

  .comments .nav-line {
    flex-direction: column;
    height: 77px;
    align-items: flex-start;
  }
  .comments .nav-sort-line {
    width: 50%;
  }

  .comments-bottom {
    box-sizing: border-box;
    width: 100%;
    padding: 0 4.6875vw 25.625vw;
  }
  .comments-bottom .new-comment {
    padding: 8px 4.6875vw;
  }
  .comments-bottom .new-comment .smile {
    margin-right: 4.6875vw;
    width: 16px;
    height: 16px;
  }
  .comments-bottom .user .user-label .user-photo {
    width: 42px;
    height: 42px;
  }
  .comments-bottom .user .user-label .user-info {
    margin-left: 2.5vw;
  }
  .comments-bottom .user .user-button {
    display: flex;
    width: 73px;
    font-size: 10px;
  }
  .comments-bottom .user .user-button .unlike {
    width: 35px;
    height: 23px;
    padding: 0;
  }
  .comments-bottom .user .user-button .like-comment {
    width: 35px;
    height: 23px;
    padding: 0;
  }
  .comments-bottom .one-comment .comment-content {
    margin-left: 50px;
  }
  .comments-bottom .one-comment .comment-content .comment-text {
    font-size: 12px;
  }
  .comments-bottom .one-comment .comment-bottom {
    width: 96px;
  }
  .comments-bottom .one-comment .comment-bottom .text-grey-2 {
    font-size: 8px;
    padding: 0;
  }

  .profile {
    margin: 9.0625vw 4.6875vw 11.25vw;
    width: auto;
  }
  .profile .user-profile {
    margin: 5.3125vw 0;
    grid-template-columns: repeat(2, 50%);
  }
  .profile .user {
    width: 100%;
  }
  .profile .user .user-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .profile .user .user-label .user-photo {
    width: 67px;
    height: 67px;
    position: relative;
  }
  .profile .user .user-label .user-photo img {
    width: 100%;
    height: 100%;
  }
  .profile .user .user-label .user-info {
    height: 100%;
    margin-left: 2.8125vw;
    margin-right: 1.25vw;
  }
  .profile .user .user-label .user-button {
    width: 5.2604166667vw;
  }

  .top-label .slider-buttons {
    display: none;
  }

  .storage {
    margin-right: -4.6875vw;
  }
  .storage .card-overflow {
    width: 100%;
  }

  .card-line {
    width: 180vw;
    height: 53.125vw;
  }
  .card-line .card {
    width: 57.1875vw;
    height: 45.9375vw;
    margin-right: 1.40625vw;
    display: flex;
    flex-direction: column;
  }

  .place-info {
    flex-direction: column;
  }
  .place-info .place-map {
    width: auto;
    height: 77.5vw;
    margin: 0 -4.6875vw;
    border-radius: 0;
  }
  .place-info .place-map .place-label img {
    width: 13px;
    height: 21px;
  }
  .place-info .place-map #l-1 {
    top: 16.25vw;
    left: 23.75vw;
  }
  .place-info .place-map #l-2 {
    top: 19.6875vw;
    left: 65.3125vw;
  }
  .place-info .place-map #l-3 {
    top: 48.125vw;
    left: 39.0625vw;
  }
  .place-info .place-map #l-4 {
    top: 44.6875vw;
    left: 85.625vw;
  }
}

/*# sourceMappingURL=style-mobile.css.map */
