@media (max-width: 960px) {
  body {
    font-size: 14px;
  }

  button {
    border-radius: 23px;
  }

  .size-50 {
    font-size: 30px;
  }

  .size-14 {
    font-size: 12px;
  }

  .size-16 {
    font-size: 8px;
  }

  .size-40 {
    font-size: 20px;
  }

  .size-30 {
    font-size: 20px;
  }

  .size-20 {
    font-size: 14px;
  }

  .size-24 {
    font-size: 12px;
  }

  .size-26 {
    font-size: 14px;
  }

  .size-18 {
    font-size: 12px;
  }

  .header .header-content {
    /*height: 581px;*/
    height: 181.5625vw;
    box-sizing: border-box;
    padding: 0 4.6875vw;
    padding-top: 42.8125vw;
  }
  .header .header-content .background-image {
    background-image: url(images/header-mobile.png);
    background-position: center;
  }
  .header .header-content .left-gradient {
    width: 50vw;
    height: 62.5vw;
    top: 115.625vw;
  }
  .header .header-content .right-gradient {
    width: 50vw;
    height: 62.5vw;
    top: -31.25vw;
  }
  .header .header-content .center-search {
    height: 200px;
    width: 100%;
  }
  .header .header-content .center-search .request-line .request {
    display: none;
  }

  .menu {
    height: 72px;
  }
  .menu .logo {
    width: 75px;
    height: 40px;
  }
  .menu .menu-right {
    width: auto;
  }
  .menu .menu-right .search-button {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    background-image: url(icon/black-search.svg);
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
  }
  .menu .menu-right .mobile-login {
    display: block;
  }
  .menu .menu-right .mobile-menu {
    display: block;
  }
  .menu .menu-right .mobile:not(:last-child) {
    margin-right: 13px;
  }

  .menu-search-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 736px;
  }

  .filter-card {
    box-sizing: border-box;
    width: calc(100% - 9.375vw);
    height: 270px;
    border-radius: 23px;
    margin-top: 200px;
  }
  .filter-card .filter-card-top {
    height: 70px;
  }
  .filter-card .filter-card-top .close-image {
    width: 6.25vw;
    height: 6.25vw;
  }
  .filter-card .right-filter {
    align-self: center;
    width: auto;
    position: static;
  }

  .request-mobile {
    margin-top: 8.75vw;
  }
  .request-mobile .request-mobile-line {
    border-bottom: 1px solid #DFDFDF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    margin: 3.75vw 0;
  }
  .request-mobile .request-mobile-line .close-image {
    width: 9px;
    height: 9px;
  }

  .content {
    padding: 0 4.6875vw;
  }

  .search-line {
    width: 100%;
    height: 37px;
    padding-left: 16px;
  }
  .search-line .search-image {
    width: 19px;
    height: 19px;
  }
  .search-line input {
    width: 40.625vw;
  }
  .search-line .filter-image {
    width: 23px;
    height: 16px;
  }
  .search-line .button {
    width: 78px;
    height: 100%;
  }

  .top-search {
    box-sizing: border-box;
    width: auto;
    margin: 14.0625vw 0 9.0625vw;
  }

  .card {
    overflow: hidden;
    box-shadow: 4px 6px 40px rgba(9, 27, 94, 0.09);
  }

  .button {
    border-radius: 23px;
  }

  .page-card {
    margin-top: -21.25vw;
    border-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .page-card .page-card-t {
    padding: 10.625vw 0;
  }
  .page-card .page-card-list {
    padding: 0 0 25.625vw;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 9.0625vw;
  }

  .card {
    width: 100%;
    height: 72.8125vw;
  }
  .card .card-title {
    padding: 0 6.875vw;
  }
  .card .card-title .arrow-more {
    background-image: url(icon/arrow-more.svg);
    background-size: 100% 100%;
    width: 35px;
    height: 15px;
  }

  .footer {
    box-sizing: border-box;
    height: 320px;
    padding: 29px 4.6875vw 23px;
  }
  .footer .footer-list {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-list .footer-col .footer-link {
    margin-bottom: 13px;
  }
  .footer .footer-list .footer-col .footer-social .social {
    margin-right: 22px;
    height: 22px;
  }

  .up {
    position: static;
    /*right: calc(100vw * (15 / 320));
    bottom: 240px;*/
    margin-left: 79.375vw;
    margin-top: -240px;
    width: 51px;
    height: 51px;
  }
  .up img {
    width: 100%;
    height: 100%;
  }

  .left-menu-mobile {
    height: 683px;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
  }
  .left-menu-mobile .left-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
  }
  .left-menu-mobile .left-menu-top .left-menu-close {
    background-image: url(icon/grey-close.svg);
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
  }
  .left-menu-mobile .left-menu-top .theme {
    height: 25px;
    width: 66px;
  }
  .left-menu-mobile .left-menu {
    font-size: 16px;
    width: auto;
    padding: 0;
    box-shadow: none;
  }
  .left-menu-mobile .left-menu .size-26 {
    margin: 10px 0;
    padding: 0;
  }

  .right-filter {
    box-sizing: border-box;
    position: static;
    width: 100%;
    padding: 0 4.6875vw;
  }
  .right-filter .size-26 {
    padding: 1.5625vw;
    display: flex;
    align-items: center;
    text-align: start;
  }
  .right-filter .size-26 img {
    width: 11px;
    height: 6px;
    margin-right: 1.5625vw;
  }
  .right-filter .blue {
    width: 100%;
    align-self: center;
    padding: 2.8125vw 0;
    margin-top: 7.5vw;
    align-items: center;
  }

  .nav-line {
    margin: 0;
    margin-top: 9.0625vw;
  }
  .nav-line .nav-sort {
    width: 100%;
  }
  .nav-line .nav-sort .nav-sort-line {
    padding: 6px 6px;
  }
  .nav-line .size-50 {
    flex-wrap: wrap;
    font-size: 30px;
  }
  .nav-line .size-50 img {
    height: 20px;
    align-self: center;
    margin: 1.5625vw;
  }

  .advertisement-left {
    background: #E2E2E2;
    width: 100%;
    height: 50.3125vw;
    margin-top: 11.5625vw;
  }

  .user .user-label {
    display: flex;
    justify-content: flex-start;
  }
  .user .user-label .user-photo {
    width: 67px;
    height: 67px;
    position: relative;
  }
  .user .user-label .user-photo img {
    width: 100%;
    height: 100%;
  }
  .user .user-label .user-info {
    width: 60%;
    height: 100%;
    margin-left: 2.8125vw;
    margin-right: 7.5vw;
  }
  .user .user-label .user-info .size-50 {
    font-size: 16px;
  }
  .user .user-label .user-button {
    width: 31.5625vw;
  }

  .user-button-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .user-button-profile .user-follow {
    width: 48%;
    padding: 6px 0;
  }
  .user-button-profile .user-mess {
    width: 48%;
    padding: 6px 0;
  }

  .user-button-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    padding: 31px 15px 31px 18px;
    width: 228px;
    height: 125px;
    right: 4.6875vw;
    margin-top: 18px;
  }
  .user-button-mobile .user-button-line {
    display: flex;
  }
  .user-button-mobile .user-button-line .bookmark {
    background-image: url(icon/bookmark.svg);
    background-size: 100% 100%;
    width: 17px;
    height: 22px;
    margin-right: 21px;
  }
  .user-button-mobile .user-button-line .share {
    background-image: url(icon/share.svg);
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
    margin-right: 15px;
  }

  .user-button {
    width: 65px;
    align-items: center;
    justify-self: flex-end;
  }
  .user-button .bookmark {
    background-image: url(icon/bookmark.svg);
    background-size: 100% 100%;
    width: 17px;
    height: 22px;
    margin-right: 25px;
  }
  .user-button .share {
    background-image: url(icon/share.svg);
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
  }

  .mobile-user-menu {
    background-image: url(icon/black-user-menu.svg);
    background-size: 100% 100%;
    width: 5px;
    height: 18px;
  }

  .tape-card {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 6.25vw 4.6875vw;
    margin: 4.6875vw 0;
  }

  .tape-list {
    width: 100%;
    margin: auto;
    margin-bottom: 20.3125vw;
    margin-top: 6.25vw;
  }

  .card-content .card-content-top {
    padding: 4.6875vw 0;
  }
  .card-content .card-content-more {
    padding: 3.4375vw 0;
  }
  .card-content .card-content-image {
    padding: 9.375vw 0 6.25vw;
  }
  .card-content .card-content-image img {
    width: 100%;
  }
  .card-content .card-content-bottom {
    width: 100%;
    display: flex;
  }
  .card-content .card-content-bottom .button {
    height: 35px;
    padding: 5px 7px;
    margin-right: 20px;
  }
  .card-content .card-content-bottom .button img {
    margin-right: 7px;
  }

  .mobile {
    display: block;
  }

  .podmenu-filter {
    font-size: 12px;
    margin-left: 8.75vw;
  }
  .podmenu-filter .podmenu-filter-link {
    margin: 2.1875vw 0;
  }
  .podmenu-filter .location {
    height: 33px;
    padding: 9px 19px;
  }
  .podmenu-filter .location::placeholder {
    font-size: 12px;
  }

  .desktop {
    display: none;
  }

  .online {
    width: 15px;
    height: 15px;
  }

  .description {
    box-sizing: border-box;
    width: 100%;
    padding: 7.8125vw 4.6875vw 6.25vw;
  }
  .description .user {
    flex-direction: column-reverse;
  }
  .description .user .user-label {
    justify-content: flex-start;
  }
  .description .user .text-black {
    padding: 6.25vw 0;
  }

  .user-follow {
    width: 100%;
    padding: 8px 0;
    align-items: center;
    margin-top: 6.5625vw;
  }

  .card-content-title {
    margin-bottom: 1.875vw;
  }

  .before {
    margin: 12.5vw 0;
  }
  .before .arrow-back {
    width: 18.75vw;
  }
  .before .before-info {
    height: 41px;
  }
  .before .before-info .before-theme {
    font-size: 12px;
  }

  .comments .nav-line {
    flex-direction: column;
    height: 77px;
    align-items: flex-start;
  }
  .comments .nav-sort-line {
    width: 50%;
  }

  .comments-bottom {
    box-sizing: border-box;
    width: 100%;
    padding: 0 4.6875vw 25.625vw;
  }
  .comments-bottom .new-comment {
    padding: 8px 4.6875vw;
  }
  .comments-bottom .new-comment .smile {
    margin-right: 4.6875vw;
    width: 16px;
    height: 16px;
  }
  .comments-bottom .user .user-label .user-photo {
    width: 42px;
    height: 42px;
  }
  .comments-bottom .user .user-label .user-info {
    margin-left: 2.5vw;
  }
  .comments-bottom .user .user-button {
    display: flex;
    width: 73px;
    font-size: 10px;
  }
  .comments-bottom .user .user-button .unlike {
    width: 35px;
    height: 23px;
    padding: 0;
  }
  .comments-bottom .user .user-button .like-comment {
    width: 35px;
    height: 23px;
    padding: 0;
  }
  .comments-bottom .one-comment .user .user-label {
    width: 225px;
  }
  .comments-bottom .one-comment .comment-content {
    margin-left: 50px;
  }
  .comments-bottom .one-comment .comment-content .comment-text {
    font-size: 12px;
  }
  .comments-bottom .one-comment .comment-bottom {
    width: 96px;
  }
  .comments-bottom .one-comment .comment-bottom .text-grey-2 {
    font-size: 8px;
    padding: 0;
  }

  .profile {
    margin: 9.0625vw 4.6875vw 11.25vw;
    width: auto;
  }
  .profile .user-profile {
    margin: 5.3125vw 0;
    grid-template-columns: repeat(2, 50%);
  }
  .profile .user {
    width: 100%;
  }
  .profile .user .user-label {
    width: 100%;
  }
  .profile .user .user-label .user-photo {
    width: 67px;
    height: 67px;
    position: relative;
  }
  .profile .user .user-label .user-photo img {
    width: 100%;
    height: 100%;
  }
  .profile .user .user-label .user-info {
    height: 100%;
    margin-left: 2.8125vw;
    margin-right: 1.25vw;
  }
  .profile .user .user-label .user-button {
    width: 5.2604166667vw;
  }

  .top-label .slider-buttons {
    display: none;
  }

  .storage {
    margin-right: -4.6875vw;
  }
  .storage .card-overflow {
    width: 100%;
  }

  .card-line {
    width: 180vw;
    height: 53.125vw;
  }
  .card-line .card {
    width: 57.1875vw;
    height: 45.9375vw;
    margin-right: 1.40625vw;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }
  .card-line .card .card-image img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .card-line .card .card-title {
    padding: 4.375vw;
  }

  .place-info {
    flex-direction: column;
  }
  .place-info .place-map {
    width: auto;
    height: 77.5vw;
    margin: 0 -4.6875vw;
    border-radius: 0;
  }
  .place-info .place-map .place-label img {
    width: 13px;
    height: 21px;
  }
  .place-info .place-map #l-1 {
    top: 16.25vw;
    left: 23.75vw;
  }
  .place-info .place-map #l-2 {
    top: 19.6875vw;
    left: 65.3125vw;
  }
  .place-info .place-map #l-3 {
    top: 48.125vw;
    left: 39.0625vw;
  }
  .place-info .place-map #l-4 {
    top: 44.6875vw;
    left: 85.625vw;
  }

  .card-h {
    flex-direction: column;
    width: 100%;
    height: 132px;
  }
  .card-h .card-h-left {
    height: 79px;
    align-self: flex-start;
  }
  .card-h .card-h-left .card-h-image img {
    width: 78px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 23px;
  }
  .card-h .card-h-left .card-h-info .size-16 {
    font-size: 8px;
  }
  .card-h .card-h-left .card-h-info .size-30 {
    font-size: 14px;
  }
  .card-h .card-h-left .card-h-info .text-black {
    font-size: 12px;
  }
  .card-h .button {
    margin: 0 11px 17px;
    width: calc(100% - 22px);
    padding: 6px 0;
  }

  .participants .text-black {
    font-size: 10px;
  }
  .participants .participants-photos .participants-photo {
    width: 17px;
    height: 17px;
  }
  .participants .participants-photos .participants-photo:not(:last-child):after {
    width: 17px;
    height: 17px;
    margin-left: -9px;
  }

  .card-grid {
    height: auto;
    grid-template-columns: repeat(1, auto);
    width: calc(100% - 15px);
  }
  .card-grid .card {
    width: 100%;
    margin: 0;
    height: 72.8125vw;
  }
  .card-grid .card .card-title {
    padding: 6.5625vw;
  }
  .card-grid .card .card-title .size-26 {
    font-size: 16px;
  }

  #slider-line {
    display: none;
  }

  .journal .card-h {
    flex-direction: row;
    height: 79px;
    margin: 5.9375vw 0;
  }
  .journal .card-h .card-h-left .card-h-image {
    width: 78px;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
  }
  .journal .card-h .card-h-left .card-h-image img {
    width: auto;
    margin-left: -10px;
  }
  .journal .card-h .card-h-left .card-h-info {
    padding: 11px 18px;
    justify-content: center;
  }
  .journal .card-h .card-h-left .card-h-info br {
    display: none;
  }
  .journal .card-h .card-h-left .card-h-info .size-30 {
    font-weight: 500;
  }
  .journal .card-h .card-content-bottom {
    flex-direction: column;
    height: 47px;
    justify-content: space-between;
  }
  .journal .card-h .card-content-bottom .button {
    font-size: 14px;
    padding: 0;
    height: 18px;
    margin: 0;
  }
  .journal .card-h .card-content-bottom .button img {
    margin: 0 4px;
  }
}

/*# sourceMappingURL=style-mobile.css.map */
