.header .header-content {
  width: 100%;
  height: 50.5729166667vw;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 12.34375vw;
}
.header .header-content .background-image {
  background-image: url(images/header.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header .header-content .left-gradient {
  background-image: url(images/header-left.svg);
  background-size: 100% 100%;
  width: 27.34375vw;
  height: 27.4479166667vw;
  position: absolute;
  left: 0;
  top: 33.125vw;
  z-index: -1;
}
.header .header-content .right-gradient {
  background-image: url(images/header-right.svg);
  background-size: 100% 100%;
  width: 22.3958333333vw;
  height: 27.4479166667vw;
  position: absolute;
  right: 0;
  top: 34.375vw;
  z-index: -1;
}
.header .header-content .center-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
.header .header-content .center-search .request-line {
  display: flex;
}
.header .header-content .center-search .request-line .request {
  padding: 7px 19px;
  align-items: center;
  margin-left: 11px;
}
.header .header-content .center-search .request-line .request::before {
  width: 94%;
  margin: -1px;
}
.header .header-content .center-search .request-line .request::after {
  width: 94%;
}
.header .header-content .center-search .request-line .request .close-image {
  background-image: url(icon/grey-close.svg);
  background-size: 100% 100%;
  width: 11.5px;
  height: 11.5px;
  margin-left: 14px;
}

.filter-card {
  position: absolute;
  width: 45.5729166667vw;
  height: 27.5vw;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 0 52px;
  z-index: 2;
  margin-top: 200px;
}
.filter-card .filter-card-top {
  height: 7.2916666667vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.filter-card .filter-card-top .close-image {
  width: 3.125vw;
  height: 3.125vw;
}
.filter-card .right-filter {
  align-self: center;
  width: auto;
  position: static;
}

.close-image {
  background-image: url(icon/grey-close.svg);
  background-size: 100% 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 119px;
}
.menu .logo {
  background: url(icon/black-logo.svg);
  /*width: calc(100vw * (212 / 1920));
  height: calc(100vw * (103 / 1920));*/
  width: 212px;
  height: 103px;
  background-size: 100% 100%;
}
.menu .menu-right {
  display: flex;
  justify-content: space-between;
  width: 22.1354166667vw;
  align-items: center;
}
.menu .menu-right .blue {
  width: 10.2604166667vw;
  height: 48px;
}
.menu .menu-right .mobile-login {
  box-sizing: border-box;
  background-image: url(icon/mobile-login.svg);
  background-size: 100% 100%;
  width: 34px;
  height: 34px;
  border-radius: 0;
}
.menu .menu-right .mobile-menu {
  box-sizing: border-box;
  background-image: url(icon/mobile-menu.svg);
  background-size: 100% 100%;
  width: 37px;
  height: 25px;
  border-radius: 0;
}

.theme {
  display: flex;
  justify-content: space-between;
  width: 97px;
  height: 36px;
  border: 1px solid #161616;
}
.theme .dark {
  width: 50%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme .dark img {
  height: 80%;
}
.theme .light {
  width: 50%;
  height: 100%;
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -1px;
}
.theme .light img {
  height: 80%;
}

.search-line {
  box-sizing: border-box;
  width: 870px;
  height: 60px;
  align-items: center;
  padding-left: 22px;
  justify-content: space-between;
}
.search-line .search-image {
  background-image: url(icon/grey-search.svg);
  background-size: 100% 100%;
  width: 27px;
  height: 27px;
}
.search-line input {
  width: 450px;
}
.search-line .filter-image {
  background-image: url(icon/grey-filter.svg);
  background-size: 100% 100%;
  width: 33px;
  height: 24px;
}
.search-line .button {
  width: 197px;
  height: 100%;
}

.menu-left {
  display: flex;
  align-items: center;
}

.top-search {
  display: flex;
  justify-content: space-between;
  width: 405px;
  height: 43px;
  padding-left: 16px;
  margin-left: 8.5416666667vw;
}
.top-search .search-image {
  background-image: url(icon/blue-search.svg);
  width: 19px;
  height: 19px;
}
.top-search input {
  width: 200px;
}
.top-search input::placeholder {
  color: #5575E8;
}
.top-search .button {
  width: 140px;
  height: calc(100% + 2px);
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 6px 40px rgba(9, 27, 94, 0.09);
  overflow: hidden;
}
.card .card-image {
  width: 100%;
  height: 63%;
}
.card .card-image img {
  width: 100%;
}
.card .card-title {
  width: 100%;
  height: 37%;
}

.page-card {
  display: flex;
  flex-direction: column;
  margin-top: -4.1145833333vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.page-card .page-card-t {
  padding: 4.9479166667vw 0;
  align-self: flex-start;
}
.page-card .page-card-list {
  padding: 0.9895833333vw 0 8.8541666667vw;
  display: grid;
  grid-template-columns: repeat(3, 29.6354166667vw);
  grid-column-gap: 1.40625vw;
  grid-row-gap: 1.40625vw;
}

.card {
  width: 29.6354166667vw;
  height: 23.8541666667vw;
}
.card .card-title {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.0833333333vw;
}
.card .card-title .arrow-more {
  background-image: url(icon/arrow-more.svg);
  background-size: 100% 100%;
  width: 68px;
  height: 30px;
}

.footer {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-sizing: border-box;
  height: 305px;
  padding: 89px 80px 27px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.footer .footer-list {
  display: grid;
  /*grid-template-columns: repeat(3, calc(100vw * (230 / 1920)));*/
  grid-template-columns: repeat(3, 230px);
  grid-column-gap: 8.1770833333vw;
}
.footer .footer-list .footer-col .footer-link {
  margin-bottom: 26px;
  display: block;
}
.footer .footer-list .footer-col .footer-social {
  display: flex;
}
.footer .footer-list .footer-col .footer-social .social {
  margin-right: 30px;
  height: 30px;
  display: block;
}
.footer .footer-list .footer-col .footer-social .social img {
  width: 100%;
  height: 100%;
}

.mobile {
  display: none;
}

.up {
  position: fixed;
  right: 4.1666666667vw;
  bottom: 7.7083333333vw;
  width: 3.5416666667vw;
  height: 3.5416666667vw;
}
.up img {
  width: 100%;
  height: 100%;
}

.hr {
  height: 1px;
  background: rgba(223, 223, 223, 0.29);
}

.left-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 18.75vw;
  padding-left: 4.1666666667vw;
  padding-top: 3.4375vw;
  border-bottom-right-radius: 50px;
  height: 45.8333333333vw;
  box-shadow: 10px 15px 20px rgba(9, 27, 94, 0.02);
}
.left-menu .size-26 {
  padding: 0.5208333333vw 0;
}

.right-filter {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 18.2291666667vw;
  padding-right: 2.0833333333vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right-filter .size-26 {
  padding: 0.5208333333vw;
  display: flex;
  align-items: center;
  text-align: start;
}
.right-filter .size-26 img {
  width: 19px;
  height: 10px;
  margin-right: 1.0416666667vw;
}
.right-filter .blue {
  align-self: center;
  padding: 0.46875vw 3.1770833333vw;
  margin-top: 0.6770833333vw;
}

.nav-line {
  display: flex;
  margin: 2.8125vw 0 1.3020833333vw 21.09375vw;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.nav-line .nav-title img {
  margin: 0 1.0416666667vw;
  height: 100%;
  align-self: center;
}
.nav-line .nav-sort {
  display: flex;
  height: fit-content;
  justify-content: space-between;
}
.nav-line .nav-sort .nav-sort-line {
  padding: 7px 14px;
  height: fit-content;
  margin: -1px;
  min-width: 5.46875vw;
  display: flex;
  justify-content: center;
}

.advertisement-left {
  background: #E2E2E2;
  width: 14.0104166667vw;
  height: 20.2083333333vw;
  margin-top: 5.7291666667vw;
  align-self: center;
}

.user {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.user .user-label {
  display: flex;
  justify-content: space-between;
}
.user .user-label .user-photo {
  width: 105px;
  height: 105px;
  position: relative;
}
.user .user-label .user-photo img {
  width: 100%;
  height: 100%;
}
.user .user-label .user-info {
  height: 100%;
  margin-left: 1.0416666667vw;
  margin-right: 1.25vw;
}
.user .user-label .user-button {
  width: 5.2604166667vw;
}

.user-follow {
  height: fit-content;
  padding: 0.5729166667vw 2.2395833333vw;
}

.user-button {
  display: flex;
  width: 5.2604166667vw;
  justify-content: space-between;
}
.user-button .bookmark {
  background-image: url(icon/bookmark.svg);
  background-size: 100% 100%;
  width: 29px;
  height: 38px;
  margin-right: 10px;
}
.user-button .share {
  background-image: url(icon/share.svg);
  background-size: 100% 100%;
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

.mobile {
  display: none;
}

.tape-card {
  box-sizing: border-box;
  width: 58.6458333333vw;
  padding: 2.34375vw 3.8020833333vw;
  margin: 1.40625vw 0;
  height: auto;
}

.tape-list {
  width: fit-content;
  margin: auto;
  margin-bottom: 9.8958333333vw;
  margin-top: 1.3020833333vw;
}

.card-content .card-content-top {
  padding: 1.6145833333vw 0;
}
.card-content .card-content-more {
  padding: 1.25vw 0;
  display: block;
}
.card-content .card-content-image {
  padding: 0.625vw 0 1.3020833333vw;
}
.card-content .card-content-image img {
  width: 100%;
}
.card-content .card-content-bottom {
  width: auto;
  display: flex;
}
.card-content .card-content-bottom .button {
  background-color: rgba(0, 56, 255, 0.04);
  padding: 7px 10px;
  align-items: center;
  display: flex;
  margin-right: 20px;
}
.card-content .card-content-bottom .button img {
  height: 100%;
  margin-right: 10px;
}

/*---------------*/
.podmenu-filter {
  margin-left: 2.6041666667vw;
  display: flex;
  flex-direction: column;
}
.podmenu-filter .podmenu-filter-link {
  color: #000000;
  margin: 0.2604166667vw 0;
}
.podmenu-filter .location {
  box-sizing: border-box;
  background-color: #F5F5F5;
  border: 1px solid #363636;
  height: 40px;
  padding: 7px 10px;
  width: 100%;
}
.podmenu-filter .location::placeholder {
  display: none;
}

.description {
  margin: auto;
  width: fit-content;
  margin-top: 4.9479166667vw;
  width: 51.0416666667vw;
}
.description .description-card {
  border-radius: 0;
  width: 100%;
  height: auto;
  box-shadow: none;
}
.description .description-card .card-content .card-content-image {
  margin: 2.96875vw 0;
}
.description .description-card .card-content .card-content-bottom {
  margin-top: 2.96875vw;
}

.like-comment {
  display: flex;
}

.before {
  display: flex;
  margin: 2.6041666667vw 0;
}
.before .arrow-back {
  width: 104px;
  margin-right: 20px;
  margin-top: 10px;
}
.before .arrow-back img {
  width: 100%;
}
.before .before-info {
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comments .nav-line {
  margin: 0;
}

.new-comment {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8854166667vw 0.7291666667vw;
  display: flex;
  margin-top: 2.4479166667vw;
}
.new-comment .smile {
  background-image: url(icon/grey-smile.svg);
  background-size: 100% 100%;
  width: 1.5104166667vw;
  height: 1.5104166667vw;
  margin-right: 1.1979166667vw;
}
.new-comment input {
  width: 100%;
}
.new-comment input::placeholder {
  color: #5F6681;
}

.comments-bottom {
  width: 51.0416666667vw;
  margin: auto;
  margin-bottom: 6.9791666667vw;
}

.one-comment {
  margin: 3.125vw 0;
}
.one-comment .user .user-label .user-info {
  margin-left: 0.78125vw;
}
.one-comment .user .user-label .user-photo {
  width: 80px;
  height: 80px;
}
.one-comment .user .user-button {
  font-size: 10px;
  height: fit-content;
}
.one-comment .user .user-button .unlike {
  display: flex;
  align-items: flex-end;
  color: #E55555;
}
.one-comment .user .user-button .unlike img {
  margin-right: 4px;
  padding-top: 5px;
  height: 110%;
}
.one-comment .user .user-button .like-comment {
  display: flex;
  align-items: flex-end;
  color: #17B126;
}
.one-comment .user .user-button .like-comment img {
  margin-right: 4px;
  height: 110%;
}
.one-comment .comment-content {
  margin-left: 96px;
}
.one-comment .comment-content .comment-bottom {
  display: flex;
  margin-top: 7px;
  align-items: baseline;
  width: 191px;
  justify-content: space-between;
}

.online {
  border-radius: 50%;
  background-color: #74DF4E;
  width: 24px;
  height: 24px;
  margin-left: 70%;
  margin-top: -30%;
  position: absolute;
}

.profile {
  width: 70.5729166667vw;
  margin: 2.8125vw 0 0 25.2604166667vw;
}
.profile .user {
  width: 56.5625vw;
}
.profile .user .user-button {
  width: 24.0104166667vw;
}
.profile .user .user-button .user-mess {
  height: fit-content;
  padding: 11px 2.65625vw;
}
.profile .user .user-button .user-follow {
  height: fit-content;
  padding: 11px 2.2395833333vw;
  margin-right: 0.5208333333vw;
}
.profile .user-profile {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  margin: 12px 0 37px 125px;
}
.profile .user-profile .user-profile-col .text-black {
  margin: 12px 0;
}

.top-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 3.6458333333vw 0;
}
.top-label .slider-buttons {
  display: flex;
  justify-content: space-between;
  width: 105px;
}
.top-label .slider-buttons .slider-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storage .card-overflow {
  overflow: hidden;
  width: 72.65625vw;
}

.card-line {
  display: flex;
  justify-content: space-between;
  width: 70.78125vw;
  height: 21.6145833333vw;
  align-items: center;
}
.card-line .card {
  width: 22.8125vw;
  height: 18.3333333333vw;
  border-radius: 41px;
}
.card-line .card .card-title {
  padding: 0 1.71875vw;
}
.card-line .card .product-title {
  padding: 1.1458333333vw 1.6666666667vw 1.9270833333vw;
}

.place-info {
  width: 100%;
  display: flex;
}
.place-info .place-map {
  width: 51.0416666667vw;
  height: 30.5729166667vw;
  background-image: url(images/map.png);
  background-size: 100% 100%;
  position: relative;
}
.place-info .place-map #l-1 {
  position: absolute;
  top: 7.2916666667vw;
  left: 10.4166666667vw;
}
.place-info .place-map #l-2 {
  position: absolute;
  top: 7.9166666667vw;
  left: 27.2916666667vw;
}
.place-info .place-map #l-3 {
  position: absolute;
  top: 17.34375vw;
  left: 13.0208333333vw;
}
.place-info .place-map #l-4 {
  position: absolute;
  top: 17.34375vw;
  left: 33.0729166667vw;
}
.place-info .place-list {
  margin-left: 1.0416666667vw;
  margin-top: 2.6041666667vw;
}
.place-info .place-list .place-part {
  margin: 0.9895833333vw 0;
}
.place-info .place-list .place-part .text-black {
  margin-bottom: 4px;
}

.events {
  margin-bottom: 10.4166666667vw;
}

.card-h {
  display: flex;
  flex-direction: row;
  width: 51.0416666667vw;
  height: 163px;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  overflow: hidden;
}
.card-h .card-h-left {
  display: flex;
}
.card-h .card-h-left .card-h-image {
  overflow: hidden;
}
.card-h .card-h-left .card-h-image img {
  height: 100%;
  width: 250px;
}
.card-h .card-h-left .card-h-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px 2.6041666667vw;
}
.card-h .button {
  height: fit-content;
  padding: 0.625vw 0.8854166667vw;
  margin-right: 1.9791666667vw;
}

.participants {
  display: flex;
}
.participants .participants-photos {
  display: flex;
}
.participants .participants-photos .participants-photo {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: -7px;
}
.participants .participants-photos .participants-photo img {
  width: 100%;
  height: 100%;
}
.participants .participants-photos .participants-photo:not(:last-child):after {
  content: "";
  background-color: #FFFFFF;
  margin-left: -11.5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
}
.participants .text-black {
  text-decoration: underline;
  margin-left: 10px;
}

#join-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.join-card {
  box-sizing: border-box;
  width: 658px;
  height: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 75px 42px;
}
.join-card .blue {
  width: 197px;
  height: 48px;
}

.card-grid {
  display: grid;
  height: auto;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 22.8125vw);
  margin-bottom: 10.4166666667vw;
}

#slider-line {
  display: flex;
  justify-content: space-between;
}
#slider-line .line-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.46875vw;
  height: 4.2708333333vw;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#slider-line .line-arrow img {
  width: 1.5625vw;
  height: 3.1770833333vw;
}
#slider-line .line-overflow {
  overflow: hidden;
  width: 100%;
}
#slider-line .line-overflow .line-images {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#slider-line .line-overflow .line-images .line-image {
  width: 5.46875vw;
  height: 3.5416666667vw;
  margin: 0 0.5208333333vw;
}

#slider-image {
  margin-bottom: 0;
  padding: 0;
}

.equip {
  margin-bottom: 5.7291666667vw;
}
.equip .card-content-bottom {
  width: 30.5208333333vw;
  justify-content: space-between;
}

.feedback {
  margin: 2.1354166667vw 0 3.6979166667vw;
}

.nav-title {
  display: flex;
}
.nav-title .text-grey-2 {
  margin-left: 0.8333333333vw;
}

.journal {
  margin-bottom: 10.4166666667vw;
}
.journal .size-40 {
  margin: 2.7604166667vw 0 0.5208333333vw;
}
.journal .card-h .card-content-bottom {
  display: flex;
}
.journal .card-h .card-content-bottom .button {
  align-items: center;
}
.journal .card-h .card-content-bottom .button img {
  margin-right: 10px;
  height: 100%;
}

.card-line-1 {
  display: grid;
  grid-template-columns: 38.0208333333vw 32.0833333333vw;
  grid-template-rows: 28.8020833333vw;
  grid-gap: 20px;
  margin-bottom: 1.0416666667vw;
}

.card-line-2 {
  display: grid;
  grid-template-columns: repeat(3, 22.8125vw);
  grid-template-rows: 26.3541666667vw;
  grid-gap: 20px;
}

.status {
  position: absolute;
  padding: 0.4166666667vw 1.25vw;
}

.card-map {
  width: 100%;
  height: 100%;
}
.card-map .card-image {
  height: 57%;
  overflow: hidden;
  position: relative;
}
.card-map .card-image img {
  height: 100%;
  width: auto;
}
.card-map .card-image .status {
  top: 1.3541666667vw;
  left: 2.1875vw;
}
.card-map .card-image .place-label {
  position: absolute;
  top: 56%;
  left: 58%;
  height: 15%;
}
.card-map .card-title {
  align-items: flex-start;
  height: 43%;
  flex-direction: column;
  padding: 2% 2.1875vw 5%;
}

.card-list {
  padding: 1.5625vw 0 9.8958333333vw;
}
.card-list .card-h {
  margin: 1.1458333333vw 0;
  width: 100%;
}
.card-list .card-h .status {
  margin-top: 130px;
  margin-left: -12px;
}

.search-filter {
  margin: 0;
}
.search-filter input {
  width: 90%;
}

.big-map {
  position: relative;
  background-image: url(images/big-map.png);
  background-size: 100% 100%;
  width: 100%;
  height: 29.53125vw;
}
.big-map .place-label {
  position: absolute;
  height: 15%;
}
.big-map #l-1 {
  top: 7.8125vw;
  left: 19.53125vw;
}
.big-map #l-2 {
  top: 14.0625vw;
  left: 29.21875vw;
}
.big-map #l-3 {
  top: 8.28125vw;
  left: 52.9166666667vw;
}
.big-map .scale {
  position: absolute;
  right: 10px;
  bottom: 3.75vw;
}
.big-map .scale .scale-up {
  border-radius: 10px;
  width: 43px;
  height: 42px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-map .scale .scale-up img {
  width: 80%;
  height: 80%;
}
.big-map .scale .scale-down {
  border-radius: 10px;
  width: 43px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-map .scale .scale-down img {
  width: 80%;
  height: 80%;
}

.card-place-list {
  margin-bottom: 9.8958333333vw;
}
.card-place-list .card-place {
  margin: 1.40625vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -4.1666666667vw;
}
.card-place-list .card-place .card-place-info .text-grey-2 {
  margin: 0.625vw 0;
}
.card-place-list .card-place .card-place-info .size-20 {
  text-decoration: underline;
}
.card-place-list .card-place .card-place-images {
  width: 42.1875vw;
  overflow: hidden;
}
.card-place-list .card-place .card-place-images .card-place-images-line {
  display: flex;
  width: auto;
}
.card-place-list .card-place .card-place-images .card-place-images-line .card-place-image {
  width: 20.8854166667vw;
  height: 11.5625vw;
  margin-right: 1.9270833333vw;
}
.card-place-list .card-place .card-place-images .card-place-images-line .card-place-image img {
  height: 100%;
}

.partners-header {
  margin-left: 18.75vw;
  background-image: url(images/partners.png);
  background-size: 100% 100%;
  height: 25.9895833333vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.partners-header .partners-header-center {
  display: flex;
}
.partners-header .partners-header-center .patners-header-image {
  width: 9.6354166667vw;
  height: 9.6354166667vw;
  margin-right: 3.3854166667vw;
}
.partners-header .partners-header-center .patners-header-image img {
  width: 100%;
  height: 100%;
}
.partners-header .partners-header-center .partners-header-info {
  width: 33.2291666667vw;
}

.button-partners {
  display: flex;
  margin-top: -2.8125vw;
  margin-left: 26.09375vw;
}
.button-partners .button {
  padding: 0.625vw 0.8854166667vw;
  margin-right: 1.71875vw;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.partners-sales {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 2.5vw;
}
.partners-sales .button {
  padding: 0.9375vw 2.2395833333vw;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.advantages .advantages-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.advantages .advantages-card .advantages-image {
  border-radius: 50%;
  background-color: rgba(0, 56, 255, 0.04);
  width: 8.75vw;
  height: 8.75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}
.advantages .advantages-card .advantages-image img {
  width: 70%;
  height: 70%;
}
.advantages .advantages-card .advantages-text {
  width: 19.1145833333vw;
  text-align: center;
}

.partner-contact {
  display: grid;
  grid-template-columns: 32.5520833333vw 38.0208333333vw;
  margin: 9.1145833333vw 0 11.40625vw;
}
.partner-contact .partner-contact-info {
  margin-right: 10px;
}
.partner-contact .partner-contact-info .size-50 {
  margin-bottom: 2.3958333333vw;
}
.partner-contact .partner-contact-info .size-30 {
  margin: 0.7291666667vw 0;
}
.partner-contact .parner-map {
  background-image: url(images/contact-map.png);
  background-size: 100%;
  width: 100%;
  height: 27.3958333333vw;
  position: relative;
}
.partner-contact .parner-map .place-label {
  position: absolute;
  top: 7.4479166667vw;
  left: 23.0208333333vw;
}

.login-content {
  display: grid;
  grid-template-columns: 22.65625vw 68.4895833333vw;
  grid-gap: 10px;
  margin: 6.3020833333vw 0 7.3958333333vw;
  position: relative;
}
.login-content .login-gradient {
  background-image: url(images/login-gradient.svg);
  background-size: 100% 100%;
  width: 24.4791666667vw;
  height: 30.5208333333vw;
  position: absolute;
  bottom: -15.8854166667vw;
  right: 0;
  z-index: -1;
}
.login-content .login-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 19.1145833333vw;
}
.login-content .login-info .social .social-line {
  display: flex;
  margin-top: 0.7291666667vw;
}
.login-content .login-info .social .social-line .social-part {
  margin-right: 0.8333333333vw;
}
.login-content .login-info .login-register .button {
  margin-top: 1.0416666667vw;
  padding: 0.625vw 0.9375vw;
  display: block;
  width: fit-content;
}
.login-content .login-form form {
  width: 425px;
}
.login-content .login-form form .button {
  margin: 1.0416666667vw 0 0.7291666667vw;
  padding: 0.625vw 0;
  width: 227px;
}
.login-content .login-form form input {
  display: block;
  width: 425px;
}
.login-content .login-form form .input-form {
  height: 5.8333333333vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 6px 0;
}
.login-content .login-form form .input-form input {
  padding: 0.6770833333vw 1.25vw;
}
.login-content .login-form form .input-form input::placeholder {
  color: #5575E8;
}

.whith-text {
  display: flex;
  margin-right: -310px;
}
.whith-text .size-12 {
  width: 235px;
  margin-left: 1.0416666667vw;
}
.whith-text input {
  width: 425px;
}

.return-password .login-info {
  height: 13.0208333333vw;
}
.return-password .login-form form .input-form {
  height: 3.4375vw;
}

.register .login-info {
  height: 19.5833333333vw;
}
.register .login-info .login-register .button {
  width: 185px;
  text-align: center;
}
.register .login-form form .input-form {
  height: 19.5833333333vw;
}

.underline {
  text-decoration: underline;
}

@media (max-width: 1620px) {
  body {
    font-size: 18px;
  }

  .size-50 {
    font-size: 40px;
  }

  .size-40 {
    font-size: 30px;
  }

  .size-30 {
    font-size: 26px;
  }

  .size-26 {
    font-size: 22px;
  }

  .size-20 {
    font-size: 18px;
  }

  .size-14 {
    font-size: 12px;
  }

  .profile .user {
    width: 100%;
  }
  .profile .user .user-button {
    width: 27.7777777778vw;
  }

  .right-filter .size-26 {
    padding-left: 0;
    padding-right: 0;
  }

  .br {
    display: none;
  }

  .journal .card-h .card-content-bottom .button img {
    height: 30px;
  }

  #slider-line .line-overflow .line-images {
    justify-content: space-around;
    width: 685px;
    height: 69px;
  }
}
@media (max-width: 1364px) {
  body {
    font-size: 16px;
  }

  button {
    border-radius: 35px;
  }

  .button {
    border-radius: 35px;
  }

  .card {
    border-radius: 35px;
  }

  .size-16 {
    font-size: 12px;
  }

  .size-18 {
    font-size: 14px;
  }

  .size-20 {
    font-size: 16px;
  }

  .size-26 {
    font-size: 20px;
  }

  .size-30 {
    font-size: 22px;
  }

  .size-40 {
    font-size: 24px;
  }

  .size-50 {
    font-size: 30px;
  }

  .menu {
    height: 70px;
  }
  .menu .logo {
    height: 60px;
    width: 165px;
  }
  .menu .menu-right .blue {
    height: 35px;
  }

  .header .header-content .center-search {
    height: 200px;
  }

  .search-line {
    width: 600px;
    height: 40px;
  }
  .search-line input {
    width: 330px;
  }
  .search-line .button {
    width: 140px;
  }

  .top-search {
    width: 400px;
    height: 35px;
  }

  .podmenu-filter .location {
    height: 30px;
  }

  .filter-card {
    width: 45.5729166667vw;
    height: 27.5vw;
    border-radius: 30px;
    padding: 0 30px;
    margin-top: 150px;
  }
  .filter-card .filter-card-top {
    height: 6.25vw;
  }
  .filter-card .filter-card-top .close-image {
    width: 2.0833333333vw;
    height: 2.0833333333vw;
  }

  .user .user-label .user-photo {
    width: 80px;
    height: 80px;
  }

  .profile .user-profile {
    margin-left: 95px;
    grid-template-columns: repeat(2, 200px);
  }

  .nav-line .nav-title img {
    width: 15px;
  }

  .online {
    width: 18px;
    height: 18px;
  }

  .card-h .card-h-left .card-h-info {
    padding: 1.8328445748vw 0 1.8328445748vw 15px;
  }

  .participants .participants-photos .participants-photo {
    width: 20px;
    height: 20px;
  }
  .participants .participants-photos .participants-photo:not(:last-child):after {
    width: 20px;
    height: 20px;
  }
  .participants .text-black {
    margin-left: 4px;
  }

  .card-line .card {
    border-radius: 30px;
  }

  .top-label .slider-buttons {
    width: 75px;
  }
  .top-label .slider-buttons .slider-button {
    width: 30px;
    height: 30px;
  }
  .top-label .slider-buttons .slider-button img {
    height: 15px;
  }

  .card .card-title .arrow-more {
    width: 40px;
  }

  .card-content .card-content-bottom .button img {
    height: 25px;
  }

  .before .before-info {
    height: 50px;
  }

  .journal .card-h .card-h-image {
    width: 200px;
  }
  .journal .card-h .card-h-info {
    padding: 1.8328445748vw 10px;
  }
  .journal .card-h .card-content-bottom .button {
    margin-right: 15px;
  }
  .journal .card-h .card-content-bottom .button img {
    height: 20px;
  }

  .one-comment .user .user-label .user-photo {
    width: 65px;
    height: 65px;
  }
  .one-comment .comment-content {
    margin-left: 77px;
  }

  .footer .footer-list .footer-col .footer-social .social {
    margin-right: 15px;
  }
}
@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  .size-14 {
    font-size: 11px;
  }

  .size-20 {
    font-size: 14px;
  }

  .size-26 {
    font-size: 16px;
  }

  .size-40 {
    font-size: 20px;
  }

  .card {
    border-radius: 23px;
  }

  .card-h {
    width: 100%;
    height: 140px;
  }

  .place-info {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
