.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 119px;
}
.header .menu .logo {
  background: url(icon/black-logo.svg);
  /*width: calc(100vw * (212 / 1920));
  height: calc(100vw * (103 / 1920));*/
  width: 212px;
  height: 103px;
  background-size: 100% 100%;
}
.header .menu .menu-right {
  display: flex;
  justify-content: space-between;
  width: 425px;
  align-items: center;
}
.header .menu .menu-right .theme {
  display: flex;
  justify-content: space-between;
  width: 97px;
  height: 36px;
  border: 1px solid #161616;
}
.header .menu .menu-right .theme .dark {
  width: 45px;
  height: 36px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .menu .menu-right .theme .dark img {
  width: 25px;
  height: 25px;
}
.header .menu .menu-right .theme .light {
  width: 45px;
  height: 36px;
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -1px;
}
.header .menu .menu-right .theme .light img {
  width: 25px;
  height: 25px;
}
.header .menu .menu-right .blue {
  width: 197px;
  height: 48px;
}
.header .menu .menu-right .mobile-login {
  box-sizing: border-box;
  background-image: url(icon/mobile-login.svg);
  background-size: 100% 100%;
  width: 34px;
  height: 34px;
  display: none;
  border-radius: 0;
}
.header .menu .menu-right .mobile-menu {
  box-sizing: border-box;
  background-image: url(icon/mobile-menu.svg);
  background-size: 100% 100%;
  display: none;
  width: 37px;
  height: 25px;
  border-radius: 0;
}
.header .header-content {
  background-image: url(images/header.png);
  background-size: cover;
  width: 100%;
  height: 50.5729166667vw;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 12.34375vw;
  z-index: -1;
}
.header .header-content .left-gradient {
  background-image: url(images/header-left.svg);
  background-size: 100% 100%;
  width: 27.34375vw;
  height: 27.4479166667vw;
  position: absolute;
  left: 0;
  top: 33.125vw;
}
.header .header-content .right-gradient {
  background-image: url(images/header-right.svg);
  background-size: 100% 100%;
  width: 22.3958333333vw;
  height: 27.4479166667vw;
  position: absolute;
  right: 0;
  top: 34.375vw;
}
.header .header-content .center-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
.header .header-content .center-search .request-line {
  display: flex;
}
.header .header-content .center-search .request-line .request {
  padding: 7px 19px;
  align-items: center;
  margin-left: 11px;
}
.header .header-content .center-search .request-line .request::before {
  width: 94%;
  margin: -1px;
}
.header .header-content .center-search .request-line .request::after {
  width: 94%;
}
.header .header-content .center-search .request-line .request .close-image {
  background-image: url(icon/grey-close.svg);
  background-size: 100% 100%;
  width: 11.5px;
  height: 11.5px;
  margin-left: 14px;
}

.search-line {
  box-sizing: border-box;
  width: 870px;
  height: 60px;
  align-items: center;
  padding-left: 22px;
  justify-content: space-between;
}
.search-line .search-image {
  background-image: url(icon/grey-search.svg);
  background-size: 100% 100%;
  width: 27px;
  height: 27px;
}
.search-line input {
  width: 450px;
}
.search-line .filter-image {
  background-image: url(icon/grey-filter.svg);
  background-size: 100% 100%;
  width: 33px;
  height: 24px;
}
.search-line .button {
  width: 197px;
  height: 100%;
}

.menu-left {
  display: flex;
  align-items: center;
}

.top-search {
  display: flex;
  justify-content: space-between;
  width: 405px;
  height: 43px;
  padding-left: 16px;
  margin-left: 8.5416666667vw;
}
.top-search .search-image {
  background-image: url(icon/blue-search.svg);
  width: 19px;
  height: 19px;
}
.top-search input {
  width: 200px;
}
.top-search input::placeholder {
  color: #5575E8;
}
.top-search .button {
  width: 140px;
  height: calc(100% + 2px);
}

.card {
  box-shadow: 4px 6px 40px rgba(9, 27, 94, 0.09);
}
.card .card-image {
  width: 100%;
  height: 63%;
}
.card .card-image img {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
}
.card .card-title {
  width: 100%;
  height: 37%;
}

.page-card {
  margin-top: -4.1145833333vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.page-card .page-card-h {
  padding: 4.9479166667vw 0;
}
.page-card .page-card-list {
  padding: 0.9895833333vw 0 8.8541666667vw;
  display: grid;
  grid-template-columns: repeat(3, 29.6354166667vw);
  grid-column-gap: 1.40625vw;
  grid-row-gap: 1.40625vw;
}

.card {
  width: 29.6354166667vw;
  height: 23.8541666667vw;
}
.card .card-title {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.0833333333vw;
}
.card .card-title .arrow-more {
  background-image: url(icon/arrow-more.svg);
  background-size: 100% 100%;
  width: 68px;
  height: 30px;
}

.footer {
  box-sizing: border-box;
  height: 305px;
  padding: 89px 80px 27px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.footer .footer-list {
  display: grid;
  /*grid-template-columns: repeat(3, calc(100vw * (230 / 1920)));*/
  grid-template-columns: repeat(3, 230px);
  grid-column-gap: 8.1770833333vw;
}
.footer .footer-list .footer-col .footer-link {
  margin-bottom: 26px;
  display: block;
}
.footer .footer-list .footer-col .footer-social {
  display: flex;
}
.footer .footer-list .footer-col .footer-social .social {
  margin-right: 30px;
  height: 30px;
  display: block;
}
.footer .footer-list .footer-col .footer-social .social img {
  width: 100%;
  height: 100%;
}

.mobile {
  display: none;
}

.up {
  position: fixed;
  right: 4.1666666667vw;
  bottom: 7.7083333333vw;
  width: 3.5416666667vw;
  height: 3.5416666667vw;
}
.up img {
  width: 100%;
  height: 100%;
}

.hr {
  height: 1px;
  background: rgba(223, 223, 223, 0.29);
}

.left-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 18.75vw;
  padding-left: 4.1666666667vw;
  padding-top: 3.4375vw;
  border-bottom-right-radius: 50px;
  height: 45.8333333333vw;
  box-shadow: 10px 15px 20px rgba(9, 27, 94, 0.02);
}
.left-menu .size-26 {
  padding: 0.5208333333vw 0;
}

.right-filter {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 18.2291666667vw;
  padding-right: 2.0833333333vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right-filter .size-26 {
  padding: 0.5208333333vw;
  display: flex;
  align-items: center;
  text-align: start;
}
.right-filter .size-26 img {
  width: 19px;
  height: 10px;
  margin-right: 1.0416666667vw;
}
.right-filter .blue {
  align-self: center;
  padding: 0.46875vw 3.1770833333vw;
  margin-top: 0.6770833333vw;
}

.nav-line {
  display: flex;
  margin: 2.8125vw 0 1.3020833333vw 21.09375vw;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.nav-line .nav-title img {
  margin: 0 1.0416666667vw;
  height: 100%;
  align-self: center;
}
.nav-line .nav-sort {
  display: flex;
  height: fit-content;
}
.nav-line .nav-sort .nav-sort-line {
  padding: 7px 14px;
  height: fit-content;
  margin: -1px;
  min-width: 5.46875vw;
  display: flex;
  justify-content: center;
}

.advertisement-left {
  background: #E2E2E2;
  width: 14.0104166667vw;
  height: 20.2083333333vw;
  margin-top: 5.7291666667vw;
}

.user {
  display: flex;
  justify-content: space-between;
}
.user .user-label {
  display: flex;
  justify-content: space-between;
}
.user .user-label .user-photo {
  width: 105px;
  height: 105px;
  position: relative;
}
.user .user-label .user-photo img {
  width: 100%;
  height: 100%;
}
.user .user-label .user-info {
  height: 100%;
  margin-left: 1.0416666667vw;
  margin-right: 1.25vw;
}
.user .user-label .user-button {
  width: 5.2604166667vw;
}

.user-follow {
  height: fit-content;
  padding: 11px 43px;
}

.user-button {
  display: flex;
  width: 5.2604166667vw;
  justify-content: space-between;
}
.user-button .bookmark {
  background-image: url(icon/bookmark.svg);
  background-size: 100% 100%;
  width: 29px;
  height: 38px;
}
.user-button .share {
  background-image: url(icon/share.svg);
  background-size: 100% 100%;
  width: 38px;
  height: 38px;
}

.tape-card {
  box-sizing: border-box;
  width: 58.6458333333vw;
  padding: 2.34375vw 3.8020833333vw;
  margin: 1.40625vw 0;
}

.tape-list {
  width: fit-content;
  margin: auto;
  margin-bottom: 9.8958333333vw;
  margin-top: 1.3020833333vw;
}

.card-content .card-content-top {
  padding: 1.6145833333vw 0;
}
.card-content .card-content-more {
  padding: 1.25vw 0;
  display: block;
}
.card-content .card-content-image {
  padding: 0.625vw 0 1.3020833333vw;
}
.card-content .card-content-image img {
  width: 100%;
}
.card-content .card-content-bottom {
  width: auto;
  display: flex;
}
.card-content .card-content-bottom .button {
  background-color: rgba(0, 56, 255, 0.04);
  padding: 7px 10px;
  align-items: center;
  display: flex;
  margin-right: 20px;
}
.card-content .card-content-bottom .button img {
  height: 100%;
  margin-right: 10px;
}

/*---------------*/
.podmenu-filter {
  margin-left: 2.6041666667vw;
  display: flex;
  flex-direction: column;
}
.podmenu-filter .podmenu-filter-link {
  color: #000000;
  margin: 0.2604166667vw 0;
}
.podmenu-filter .location {
  box-sizing: border-box;
  background-color: #F5F5F5;
  border: 1px solid #363636;
  height: 40px;
  padding: 7px 10px;
}
.podmenu-filter .location::placeholder {
  display: none;
}

.description {
  margin: auto;
  width: fit-content;
  margin-top: 4.9479166667vw;
  width: 51.0416666667vw;
}
.description .description-card {
  width: 100%;
  height: auto;
  box-shadow: none;
}
.description .description-card .card-content .card-content-image {
  margin: 2.96875vw 0;
}
.description .description-card .card-content .card-content-bottom {
  margin-top: 2.96875vw;
}

.before {
  display: flex;
  margin: 2.6041666667vw 0;
}
.before .arrow-back {
  width: 104px;
  margin-right: 20px;
  margin-top: 10px;
}
.before .arrow-back img {
  width: 100%;
}
.before .before-info {
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comments .nav-line {
  margin: 0;
}

.new-comment {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8854166667vw 0.7291666667vw;
  display: flex;
  margin-top: 2.4479166667vw;
}
.new-comment .smile {
  background-image: url(icon/grey-smile.svg);
  background-size: 100% 100%;
  width: 1.5104166667vw;
  height: 1.5104166667vw;
  margin-right: 1.1979166667vw;
}
.new-comment input::placeholder {
  color: #5F6681;
}

.comments-bottom {
  width: 51.0416666667vw;
  margin: auto;
  margin-bottom: 6.9791666667vw;
}

.one-comment {
  margin: 3.125vw 0;
}
.one-comment .user .user-label .user-info {
  margin-left: 0.78125vw;
}
.one-comment .user .user-label .user-photo {
  width: 80px;
  height: 80px;
}
.one-comment .user .user-button {
  font-size: 10px;
  height: fit-content;
}
.one-comment .user .user-button .unlike {
  display: flex;
  align-items: flex-end;
  color: #E55555;
}
.one-comment .user .user-button .unlike img {
  margin-right: 4px;
  padding-top: 5px;
  height: 110%;
}
.one-comment .user .user-button .like-comment {
  display: flex;
  align-items: flex-end;
  color: #17B126;
}
.one-comment .user .user-button .like-comment img {
  margin-right: 4px;
  height: 110%;
}
.one-comment .comment-content {
  margin-left: 96px;
}
.one-comment .comment-content .comment-bottom {
  display: flex;
  margin-top: 7px;
  align-items: baseline;
  width: 191px;
  justify-content: space-between;
}

.online {
  border-radius: 50%;
  background-color: #74DF4E;
  width: 24px;
  height: 24px;
  margin-left: 70%;
  margin-top: -30%;
  position: absolute;
}

.profile {
  width: 70.5729166667vw;
  margin: 2.8125vw 0 0 25.2604166667vw;
}
.profile .user {
  width: 56.5625vw;
}
.profile .user .user-button {
  width: 24.0104166667vw;
}
.profile .user .user-button .user-mess {
  height: fit-content;
  padding: 11px 2.65625vw;
}
.profile .user .user-button .user-follow {
  height: fit-content;
  padding: 11px 2.2395833333vw;
}
.profile .user-profile {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  margin: 12px 0 37px 125px;
}
.profile .user-profile .user-profile-col .text-black {
  margin: 12px 0;
}

.top-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 3.6458333333vw 0;
}
.top-label .slider-buttons {
  display: flex;
  justify-content: space-between;
  width: 105px;
}
.top-label .slider-buttons .slider-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storage .card-overflow {
  overflow: hidden;
  width: 72.65625vw;
}

.card-line {
  display: flex;
  justify-content: space-between;
  width: 70.78125vw;
  height: 21.6145833333vw;
  align-items: center;
}
.card-line .card {
  width: 22.8125vw;
  height: 18.3333333333vw;
  border-radius: 41px;
}
.card-line .card .card-title {
  padding: 0 1.71875vw;
}

.place-info {
  width: 100%;
  display: flex;
}
.place-info .place-map {
  width: 51.0416666667vw;
  height: 30.5729166667vw;
  background-image: url(images/map.png);
  background-size: 100% 100%;
  position: relative;
}
.place-info .place-map #l-1 {
  position: absolute;
  top: 7.2916666667vw;
  left: 10.4166666667vw;
}
.place-info .place-map #l-2 {
  position: absolute;
  top: 7.9166666667vw;
  left: 27.2916666667vw;
}
.place-info .place-map #l-3 {
  position: absolute;
  top: 17.34375vw;
  left: 13.0208333333vw;
}
.place-info .place-map #l-4 {
  position: absolute;
  top: 17.34375vw;
  left: 33.0729166667vw;
}
.place-info .place-list {
  margin-left: 1.0416666667vw;
  margin-top: 2.6041666667vw;
}
.place-info .place-list .place-part {
  margin: 0.9895833333vw 0;
}
.place-info .place-list .place-part .text-black {
  margin-bottom: 4px;
}

.events {
  margin-bottom: 10.4166666667vw;
}

.card-h {
  display: flex;
  width: 51.0416666667vw;
  height: 163px;
  justify-content: space-between;
  align-items: center;
  margin: 0.8333333333vw 0;
}
.card-h .card-h-left {
  display: flex;
}
.card-h .card-h-left .card-h-image img {
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  height: 100%;
  width: 250px;
}
.card-h .card-h-left .card-h-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px 2.6041666667vw;
}
.card-h .card-h-left .card-h-info .participants {
  display: flex;
}
.card-h .card-h-left .card-h-info .participants .participants-photos {
  display: flex;
}
.card-h .card-h-left .card-h-info .participants .participants-photos .participants-photo {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: -7px;
}
.card-h .card-h-left .card-h-info .participants .participants-photos .participants-photo img {
  width: 100%;
  height: 100%;
}
.card-h .card-h-left .card-h-info .participants .participants-photos .participants-photo:not(:last-child):after {
  content: "";
  background-color: #FFFFFF;
  margin-left: -11.5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
}
.card-h .card-h-left .card-h-info .participants .text-black {
  text-decoration: underline;
  margin-left: 10px;
}
.card-h .button {
  height: fit-content;
  padding: 12px 17px;
  margin-right: 1.9791666667vw;
}

#join-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.join-card {
  box-sizing: border-box;
  width: 658px;
  height: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 75px 42px;
}
.join-card .blue {
  width: 197px;
  height: 48px;
}

.card-grid {
  display: grid;
  height: auto;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 22.8125vw);
  margin-bottom: 10.4166666667vw;
}

#slider-line {
  display: flex;
  justify-content: space-between;
}
#slider-line .line-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.46875vw;
  height: 4.2708333333vw;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#slider-line .line-arrow img {
  width: 1.5625vw;
  height: 3.1770833333vw;
}
#slider-line .line-images {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#slider-line .line-images .line-image {
  width: 5.46875vw;
  height: 3.5416666667vw;
  margin: 0 0.5208333333vw;
}

#slider-image {
  margin-bottom: 0;
  padding: 0;
}

.equip {
  margin-bottom: 5.7291666667vw;
}
.equip .card-content-bottom {
  width: 30.5208333333vw;
}

.feedback {
  margin: 2.1354166667vw 0 3.6979166667vw;
}

.nav-title {
  display: flex;
}
.nav-title .text-grey-2 {
  margin-left: 0.8333333333vw;
}

.journal {
  margin-bottom: 10.4166666667vw;
}
.journal .size-40 {
  margin: 2.7604166667vw 0 0.5208333333vw;
}
.journal .card.button.card-h .card-content-bottom {
  display: flex;
}
.journal .card.button.card-h .card-content-bottom .button {
  align-items: center;
}
.journal .card.button.card-h .card-content-bottom .button img {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
