.header{
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 119px;
        .logo{
            background: url(icon/black-logo.svg);
            /*width: calc(100vw * (212 / 1920));
            height: calc(100vw * (103 / 1920));*/
            width: 212px;
            height: 103px;
        }
        .menu-right{
            display: flex;
            justify-content: space-between;
            width: 425px;
            .theme{
                display: flex;
                justify-content: space-between;
                width: 97px;
                height: 36px;
                border: 1px solid #161616;
                .dark{
                    width: 45px;
                    height: 36px;
                    background-color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
                .light{
                    width: 45px;
                    height: 36px;
                    background-color:  #393939;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 -1px;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .blue{
                width: 197px;
                height: 48px;
            }
        }
    }
    .header-content{
        background-image: url(images/header.png);
        background-size: cover;
        width: 100%;
        height: calc(100vw * (971 / 1920));
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: calc(100vw * (237 / 1920));
        z-index: -1;
        .left-gradient{
            background-image: url(images/header-left.svg);
            background-size: 100% 100%;
            width: calc(100vw * (525 / 1920));
            height: calc(100vw * (527/1920));
            position: absolute;
            left: 0;
            top: calc(100vw * (636 / 1920));
        }
        .right-gradient{
            background-image: url(images/header-right.svg);
            background-size: 100% 100%;
            width: calc(100vw * (430 / 1920));
            height: calc(100vw * (527/1920));
            position: absolute;
            right: 0;
            top: calc(100vw * (660 / 1920));
        }
        .center-search{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 250px;
            
            .request-line{
                display: flex;
                
                .request{
                    padding: 7px 19px;
                    align-items: center;
                    margin-left: 11px;
                    &::before{
                        width: 94%;
                        margin: -1px;
                    }
                    &::after{
                        width: 94%;
                    }
                    .close-image{
                        background-image: url(icon/grey-close.svg);
                        background-size: 100% 100%;
                        width: 11.5px;
                        height: 11.5px;
                        margin-left: 14px;
                    }
                }
            }
        }
    }
}
.search-line{
    box-sizing: border-box;
    width: 870px;
    height: 60px;
    align-items: center;
    padding-left: 22px;
    justify-content: space-between;
    .search-image{
        background-image: url(icon/grey-search.svg);
        background-size: 100% 100%;
        width: 27px;
        height: 27px;
    }
    input{
        width: 450px;
    }
    .filter-image{
        background-image: url(icon/grey-filter.svg);
        background-size: 100% 100%;
        width: 33px;
        height: 24px;
    }
    .button{
        width: 197px;
        height: 100%;
    }
}
.menu-left{
    display: flex;
    align-items: center;
    
}
.top-search{
    display: flex;
    justify-content: space-between;
    width: 405px;
    height: 43px;
    padding-left: 16px;
    margin-left: calc(100vw * (164 / 1920));
    .search-image{
        background-image: url(icon/blue-search.svg);
        width: 19px;
        height: 19px;
    }
    input{
        width: 200px;
        &::placeholder{
            color: #5575E8;
        }
    }
    .button{
        width: 140px;
        height: calc(100% + 2px);
    }
}
.card{
    box-shadow: 4px 6px 40px rgba(9, 27, 94, 0.09);
    .card-image{
        width: 100%;
        height: 63%;
        img{
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            width: 100%;
        }  
    }
    .card-title{
        width: 100%;
        height: 37%;
    }
}
.page-card{
    margin-top: calc(100vw * (-79 / 1920));
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .page-card-h{
        padding: calc(100vw * (95 / 1920)) 0;
    }
    .page-card-list {
        padding: calc(100vw * (19 / 1920)) 0 calc(100vw * (170 / 1920));
        display: grid;
        grid-template-columns: repeat(3, calc(100vw * (569 / 1920)));
        grid-column-gap: calc(100vw * (27 / 1920));
        grid-row-gap: calc(100vw * (27 / 1920));
        
    }
}
.card{
    width: calc(100vw * (569 / 1920));
    height: calc(100vw * (458 / 1920));
    .card-title{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 calc(100vw * (40 / 1920));
        .arrow-more{
            background-image: url(icon/arrow-more.svg);
            background-size: 100% 100%;
            width: 68px;
            height: 30px;
        }
    }
}
.footer{
    box-sizing: border-box;
    height: 305px;
    padding: 89px 80px 27px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    .footer-list{
        display: grid;
        /*grid-template-columns: repeat(3, calc(100vw * (230 / 1920)));*/
        grid-template-columns: repeat(3, 230px);
        grid-column-gap: calc(100vw * (157 / 1920));
        .footer-col{
            .footer-link{
                margin-bottom: 26px;
                display: block;
            }
            .footer-social{
                .social{
                    margin-right: 30px;
                }
            }
        }
    }
}
.up{
    position: fixed;
    right: calc(100vw * (80 / 1920));
    bottom: calc(100vw * (148 / 1920));
    width: calc(100vw * (68 / 1920));
    height: calc(100vw * (68 / 1920));
    img{
        width: 100%;
        height: 100%;
    }
}
.hr{
    height: 1px;
    background: rgba(223, 223, 223, 0.29);
}
.left-menu{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: calc(100vw * (360 / 1920));
    padding-left: calc(100vw * (80 / 1920));
    padding-top: calc(100vw * (66 / 1920));
    border-bottom-right-radius: 50px;
    height: calc(100vw * (880 / 1920));
    box-shadow: 10px 15px 20px rgb(9 27 94 / 2%);
    .size-26{
        padding: calc(100vw * (10 / 1920)) 0;
    }
}
.right-filter{
    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: calc(100vw * (350 / 1920));
    padding-right: calc(100vw * (40 / 1920));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .size-26{
        padding: calc(100vw * (10 / 1920));
        display: flex;
        align-items: center;
        text-align: start;
        img{
            width: 19px;
            height: 10px;
            margin-right: calc(100vw * (20 / 1920));
        }
    }
    .blue{
        align-self: center;
        padding: calc(100vw * (9 / 1920)) calc(100vw * (61 / 1920));
        margin-top: calc(100vw * (13 / 1920));
    }
}
.nav-line{
    display: flex;
    margin: calc(100vw * (54 / 1920)) 0 calc(100vw * (25 / 1920)) calc(100vw * (405 / 1920));
    justify-content: space-between;
    height: 60px;
    align-items: center;
    .nav-title{
        img{
            margin: 0 calc(100vw * (20 / 1920));
            height: 100%;
        }
    }
    .nav-sort{
        display: flex;
        height: fit-content;
        .nav-sort-line{
            padding: 7px 14px;
            height: fit-content;
        }
    }
}
.advertisement-left{
    background: #E2E2E2;
    width: calc(100vw * (269 / 1920));
    height: calc(100vw * (388 / 1920));
    margin-top: calc(100vw * (110 / 1920));
}
.user{
    display: flex;
    justify-content: space-between;
    .user-label{
        display: flex;
        justify-content: space-between;
        .user-photo{
            width: 105px;
            height: 105px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .user-info{
            height: 100%;
            margin-left: calc(100vw * (20 / 1920));
            margin-right: calc(100vw * (24 / 1920));
        }
        .user-follow{
            height: fit-content;
            padding: 11px 43px;
        }
    }
    .user-button{
        display: flex;
        width: calc(100vw * (101 / 1920));
        justify-content: space-between;
        .bookmark{
            background-image: url(icon/bookmark.svg);
            background-size: 100% 100%;
            width: 29px;
            height: 38px;
        }
        .share{
            background-image: url(icon/share.svg);
            background-size: 100% 100%;
            width: 38px;
            height: 38px;
        }
    }
}
.tape-card{
    box-sizing: border-box;
    width: calc(100vw * (1126 / 1920));
    padding: calc(100vw * (45 / 1920)) calc(100vw * (73 / 1920));
    margin: calc(100vw * (27 / 1920)) 0;
}
.tape-list{
    width: fit-content;
    margin: auto;
    margin-bottom: calc(100vw * (190 / 1920));
    margin-top: calc(100vw * (25 / 1920));
}
.card-content{
    .card-content-top{
        padding: calc(100vw * (31 / 1920)) 0;
    }
    .card-content-more{
        padding: calc(100vw * (24 / 1920)) 0;
        display: block;
    }
    .card-content-image {
        padding: calc(100vw * (12/ 1920)) 0 calc(100vw * (25 / 1920));
        img{
            width: 100%;
        }
    }
    .card-content-bottom{
        width: 230px;
        display: flex;
        justify-content: space-between;
        .button{
            background-color: rgba(0, 56, 255, 0.04);
            padding: 7px 10px;
            align-items: center;
            display: flex;
            img{
                height: 100%;
                margin-right: 10px;
            }
        }
    }
}
.podmenu-filter{
    margin-left: calc(100vw * (50 / 1920));
    display: flex;
    flex-direction: column;
    .podmenu-filter-link{
        color: #000000;
        margin: calc(100vw * (5 / 1920)) 0;
    }
    .location{
        box-sizing: border-box;
        background-color: #F5F5F5;
        border: 1px solid #363636;
        height: 40px;
        padding: 7px 10px;
    }
}
.description {
    margin: auto;
    width: fit-content;
    margin-top: calc(100vw * (95 / 1920));
    width: calc(100vw * (980 / 1920));
    .description-card{
        
        box-shadow: none;
        .card-content{
            .card-content-image {
                margin: calc(100vw * (57 / 1920)) 0;
            }
            .card-content-bottom{
                margin-top: calc(100vw * (57 / 1920));
            }
        }
    }
}
.before {
    display: flex;
    margin: calc(100vw * (50 / 1920)) 0;
    .arrow-back{
        width: 104px;
        margin-right: 20px;
        margin-top: 10px;
    }
    .before-info{
        height: 77px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.comments{
    .nav-line{
        margin: 0;
    }
}
.new-comment{
    width: 100%;
    box-sizing: border-box;
    padding: calc(100vw * (17 / 1920)) calc(100vw * (14 / 1920));
    display: flex;
    .smile{
        background-image: url(icon/grey-smile.svg);
        background-size: 100% 100%;
        width: calc(100vw * (29 / 1920));
        height: calc(100vw * (29 / 1920));
        margin-right: calc(100vw * (23 / 1920));
    }
    input{
        &::placeholder{
            color: #5F6681;
        }
    }
}
.comments-bottom{
    width: calc(100vw * (980 / 1920));
    margin: auto;
    margin-bottom: calc(100vw * (134 / 1920));
}
.one-comment {
    margin: calc(100vw * (60 / 1920)) 0;
    .user{
        .user-label{
            .user-info{
                margin-left: calc(100vw * (15 / 1920));
            }
            .user-photo{
                width: 80px;
                height: 80px;
            }
        }
        .user-button{
            font-size: 10px;
            height: fit-content;
            .unlike{
                display: flex;
                align-items: flex-end;
                color: #E55555;
                img{
                    margin-right: 4px;
                    padding-top: 5px;
                }
            }
            .like-comment{
                display: flex;
                align-items: flex-end;
                color: #17B126;
                img{
                    margin-right: 4px;
                }
            }
        }
    }
    .comment-content {
        margin-left: 96px;
        .comment-bottom {
            display: flex;
            margin-top: 7px;
            align-items: baseline;
            width: 191px;
            justify-content: space-between;
        }
    }
}
.online{
    border-radius: 50%;
    background-color: #74DF4E;
    width: 24px;
    height: 24px;
    margin-left: 75px;
    margin-top: -30px;
    position: absolute;
}
.profile{
    width: calc(100vw * (1355 / 1920));
    margin: calc(100vw * (54 / 1920)) 0 0 calc(100vw * (485 / 1920));
    .user {
        width: calc(100vw * (1086 / 1920));
        .user-button{
            width: calc(100vw * (461 / 1920));
            .user-mess{
                height: fit-content;
                padding: 11px calc(100vw * (51 / 1920));
            }
            .user-follow{
                height: fit-content;
                padding: 11px calc(100vw * (43 / 1920));
            }
        }
        
    }
    .user-profile {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        margin: 12px 0 37px 125px;
        .user-profile-col{
            .text-black {
                margin: 12px 0;
            }
        }
    } 
}
.top-label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: calc(100vw * (70 / 1920)) 0;
    .slider-buttons{
        display: flex;
        justify-content: space-between;
        width: 105px;
        .slider-button{
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.storage{
    .card-overflow{
        overflow: hidden;
        width: calc(100vw * (1395 / 1920));
        .card-line {
            display: flex;
            justify-content: space-between;
            width: calc(3 * (100vw * (453 / 1920)));
            height: calc(100vw * (415 / 1920));
            align-items: center;
            .card{
                width: calc(100vw * (438 / 1920));
                height: calc(100vw * (352 / 1920));
                border-radius: 41px;
                .card-title {
                    padding: 0 calc(100vw * (33 / 1920));
                }
            }
        }
    }
}
.place-info {
    width: 100%;
    display: flex;
    .place-map{
        width: calc(100vw * (980 / 1920));
        height: calc(100vw * (587 / 1920));
        background-image: url(images/map.png);
        background-size: 100% 100%;
        position: relative;
        #l-1{
            position: absolute;
            top: calc(100vw * (140 / 1920));
            left: calc(100vw * (200 / 1920));
        }
        #l-2{
            position: absolute;
            top: calc(100vw * (152 / 1920));
            left: calc(100vw * (524 / 1920));
        }
        #l-3{
            position: absolute;
            top: calc(100vw * (333 / 1920));
            left: calc(100vw * (250 / 1920));
        }
        #l-4{
            position: absolute;
            top: calc(100vw * (333 / 1920));
            left: calc(100vw * (635 / 1920));
        }
    }
    .place-list {
        margin-left: calc(100vw * (20 / 1920));
        margin-top: calc(100vw * (50 / 1920));
        .place-part {
            margin: calc(100vw * (19 / 1920)) 0;
            .text-black{
                margin-bottom: 4px;
            }
        }
    }
}
.events {
    margin-bottom: calc(100vw * (200 / 1920));
}
.card-h{
    display: flex;
    width: calc(100vw * (980 / 1920));
    height: 163px;
    justify-content: space-between;
    align-items: center;
    margin: calc(100vw * (16 / 1920)) 0;
    .card-h-left{
        display: flex;
        .card-h-image{
            img{
                border-bottom-left-radius: 40px;
                border-top-left-radius: 40px;
                height: 100%;
                width: 250px;
            }
        }
        .card-h-info {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            
            padding: 20px calc(100vw * (50 / 1920));
            .participants{
                display: flex;
                .participants-photos{
                    display: flex;
                    .participants-photo{
                        position: relative;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        margin-left: -7px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        &:not(:last-child):after {
                            content: '';
                            background-color: #FFFFFF;
                            margin-left: -11.5px;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            position: absolute;
                        }
                    }
                }
                .text-black{
                    text-decoration: underline;
                    margin-left: 10px;
                }
            }
        }
    }
    .button{
        height: fit-content;
        padding: 12px 17px;
        margin-right: calc(100vw * (38 / 1920));
    }
}