.header{
    
    .header-content{
        
        width: 100%;
        height: calc(100vw * (971 / 1920));
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: calc(100vw * (237 / 1920));
        
        .background-image{
            background-image: url(images/header.png);
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .left-gradient{
            background-image: url(images/header-left.svg);
            background-size: 100% 100%;
            width: calc(100vw * (525 / 1920));
            height: calc(100vw * (527/1920));
            position: absolute;
            left: 0;
            top: calc(100vw * (636 / 1920));
            z-index: -1;
        }
        .right-gradient{
            background-image: url(images/header-right.svg);
            background-size: 100% 100%;
            width: calc(100vw * (430 / 1920));
            height: calc(100vw * (527/1920));
            position: absolute;
            right: 0;
            top: calc(100vw * (660 / 1920));
            z-index: -1;
        }
        .center-search{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 250px;
            
            .request-line{
                display: flex;
                
                .request{
                    padding: 7px 19px;
                    align-items: center;
                    margin-left: 11px;
                    &::before{
                        width: 94%;
                        margin: -1px;
                    }
                    &::after{
                        width: 94%;
                    }
                    .close-image{
                        background-image: url(icon/grey-close.svg);
                        background-size: 100% 100%;
                        width: 11.5px;
                        height: 11.5px;
                        margin-left: 14px;
                    }
                }
            }
        }
    }
}
.filter-card{
    position: absolute;
    width: calc(100vw * (875 / 1920));
    height: calc(100vw * (528 / 1920));
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 0 52px;
    z-index: 2;
    margin-top: 200px;
    .filter-card-top {
        height: calc(100vw * (140 / 1920));
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .close-image{
            width: calc(100vw * (60 / 1920));
            height: calc(100vw * (60 / 1920));
        }
    }
    .right-filter {
        align-self: center;
        width: auto;
        position: static;
    }
}
.close-image{
    background-image: url(icon/grey-close.svg);
    background-size: 100% 100%;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 119px;
    .logo{
        background: url(icon/black-logo.svg);
        /*width: calc(100vw * (212 / 1920));
        height: calc(100vw * (103 / 1920));*/
        width: 212px;
        height: 103px;
        background-size: 100% 100%;
    }
    .menu-right{
        display: flex;
        justify-content: space-between;
        width: calc(100vw * (425 / 1920));
        align-items: center;
        
        .blue{
            width: calc(100vw * (197 / 1920));
            height: 48px;
        }
        .mobile-login{
            box-sizing: border-box;
            background-image: url(icon/mobile-login.svg);
            background-size: 100% 100%;
            width: 34px;
            height: 34px;
            border-radius: 0;
        }
        .mobile-menu{
            box-sizing: border-box;
            background-image: url(icon/mobile-menu.svg);
            background-size: 100% 100%;
            width: 37px;
            height: 25px;
            border-radius: 0;
        }
    }
}
.theme{
    display: flex;
    justify-content: space-between;
    width: 97px;
    height: 36px;
    border: 1px solid #161616;
    .dark{
        width: 50%;
        height: 100%;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 80%;
        }
    }
    .light{
        width: 50%;
        height: 100%;
        background-color:  #393939;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 -1px;
        img{
            height: 80%;
        }
    }
}
.search-line{
    box-sizing: border-box;
    width: 870px;
    height: 60px;
    align-items: center;
    padding-left: 22px;
    justify-content: space-between;
    .search-image{
        background-image: url(icon/grey-search.svg);
        background-size: 100% 100%;
        width: 27px;
        height: 27px;
    }
    input{
        width: 450px;
    }
    .filter-image{
        background-image: url(icon/grey-filter.svg);
        background-size: 100% 100%;
        width: 33px;
        height: 24px;
    }
    .button{
        width: 197px;
        height: 100%;
    }
}
.menu-left{
    display: flex;
    align-items: center;
    
}
.top-search{
    display: flex;
    justify-content: space-between;
    width: 405px;
    height: 43px;
    padding-left: 16px;
    margin-left: calc(100vw * (164 / 1920));
    .search-image{
        background-image: url(icon/blue-search.svg);
        width: 19px;
        height: 19px;
    }
    input{
        width: 200px;
        &::placeholder{
            color: #5575E8;
        }
    }
    .button{
        width: 140px;
        height: calc(100% + 2px);
    }
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 4px 6px 40px rgba(9, 27, 94, 0.09);
    overflow: hidden;
    .card-image{
        width: 100%;
        height: 63%;
        img{
            width: 100%;
        }  
    }
    .card-title{
        width: 100%;
        height: 37%;
    }
}
.page-card{
    display: flex;
    flex-direction: column;
    margin-top: calc(100vw * (-79 / 1920));
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .page-card-t{
        padding: calc(100vw * (95 / 1920)) 0;
        align-self: flex-start;
    }
    .page-card-list {
        padding: calc(100vw * (19 / 1920)) 0 calc(100vw * (170 / 1920));
        display: grid;
        grid-template-columns: repeat(3, calc(100vw * (569 / 1920)));
        grid-column-gap: calc(100vw * (27 / 1920));
        grid-row-gap: calc(100vw * (27 / 1920));
        
    }
}
.card{
    width: calc(100vw * (569 / 1920));
    height: calc(100vw * (458 / 1920));
    .card-title{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 calc(100vw * (40 / 1920));
        .arrow-more{
            background-image: url(icon/arrow-more.svg);
            background-size: 100% 100%;
            width: 68px;
            height: 30px;
        }
    }
}
.footer{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-sizing: border-box;
    height: 305px;
    padding: 89px 80px 27px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    .footer-list{
        display: grid;
        /*grid-template-columns: repeat(3, calc(100vw * (230 / 1920)));*/
        grid-template-columns: repeat(3, 230px);
        grid-column-gap: calc(100vw * (157 / 1920));
        .footer-col{
            .footer-link{
                margin-bottom: 26px;
                display: block;
            }
            .footer-social{
                display: flex;
                .social{
                    margin-right: 30px;
                    height: 30px;
                    display: block;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
.mobile{
    display: none;
}
.up{
    position: fixed;
    right: calc(100vw * (80 / 1920));
    bottom: calc(100vw * (148 / 1920));
    width: calc(100vw * (68 / 1920));
    height: calc(100vw * (68 / 1920));
    img{
        width: 100%;
        height: 100%;
    }
}

.hr{
    height: 1px;
    background: rgba(223, 223, 223, 0.29);
}
.left-menu{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: calc(100vw * (360 / 1920));
    padding-left: calc(100vw * (80 / 1920));
    padding-top: calc(100vw * (66 / 1920));
    border-bottom-right-radius: 50px;
    height: calc(100vw * (880 / 1920));
    box-shadow: 10px 15px 20px rgb(9 27 94 / 2%);
    .size-26{
        padding: calc(100vw * (10 / 1920)) 0;
    }
}
.right-filter{
    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: calc(100vw * (350 / 1920));
    padding-right: calc(100vw * (40 / 1920));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .size-26{
        padding: calc(100vw * (10 / 1920));
        display: flex;
        align-items: center;
        text-align: start;
        img{
            width: 19px;
            height: 10px;
            margin-right: calc(100vw * (20 / 1920));
        }
    }
    .blue{
        align-self: center;
        padding: calc(100vw * (9 / 1920)) calc(100vw * (61 / 1920));
        margin-top: calc(100vw * (13 / 1920));
    }
}

.nav-line{
    display: flex;
    margin: calc(100vw * (54 / 1920)) 0 calc(100vw * (25 / 1920)) calc(100vw * (405 / 1920));
    justify-content: space-between;
    height: 60px;
    align-items: center;
    .nav-title{
        img{
            margin: 0 calc(100vw * (20 / 1920));
            height: 100%;
            align-self: center;
        }
    }
    .nav-sort{
        display: flex;
        height: fit-content;
        justify-content: space-between;
        .nav-sort-line{
            padding: 7px 14px;
            height: fit-content;
            margin: -1px;
            min-width: calc(100vw * (105 / 1920));
            display: flex;
            justify-content: center;
        }
    }
}
.advertisement-left{
    background: #E2E2E2;
    width: calc(100vw * (269 / 1920));
    height: calc(100vw * (388 / 1920));
    margin-top: calc(100vw * (110 / 1920));
    align-self: center;
}

.user{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .user-label{
        display: flex;
        justify-content: space-between;
        .user-photo{
            width: 105px;
            height: 105px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .user-info{
            height: 100%;
            margin-left: calc(100vw * (20 / 1920));
            margin-right: calc(100vw * (24 / 1920));
        }
        
        .user-button{
            width: calc(100vw * (101 / 1920));
        }
    }
}
.user-follow{
    height: fit-content;
    padding: calc(100vw * (11 / 1920)) calc(100vw * (43 / 1920));
}
.user-button{
    display: flex;
    width: calc(100vw * (101 / 1920));
    justify-content: space-between;
    .bookmark{
        background-image: url(icon/bookmark.svg);
        background-size: 100% 100%;
        width: 29px;
        height: 38px;
        margin-right: 10px;
    }
    .share{
        background-image: url(icon/share.svg);
        background-size: 100% 100%;
        width: 38px;
        height: 38px;
        margin-right: 10px;
    }
}
.mobile{
    display: none;
}
.tape-card{
    box-sizing: border-box;
    width: calc(100vw * (1126 / 1920));
    padding: calc(100vw * (45 / 1920)) calc(100vw * (73 / 1920));
    margin: calc(100vw * (27 / 1920)) 0;
    height: auto;
}
.tape-list{
    width: fit-content;
    margin: auto;
    margin-bottom: calc(100vw * (190 / 1920));
    margin-top: calc(100vw * (25 / 1920));
}
.card-content{
    .card-content-top{
        padding: calc(100vw * (31 / 1920)) 0;
    }
    .card-content-more{
        padding: calc(100vw * (24 / 1920)) 0;
        display: block;
    }
    .card-content-image {
        padding: calc(100vw * (12/ 1920)) 0 calc(100vw * (25 / 1920));
        img{
            width: 100%;
        }
    }
    .card-content-bottom{
        width: auto;
        display: flex;
        .button{
            background-color: rgba(0, 56, 255, 0.04);
            padding: 7px 10px;
            align-items: center;
            display: flex;
            margin-right: 20px;
            img{
                height: 100%;
                margin-right: 10px;
            }
        }
    }
}
/*---------------*/
.podmenu-filter{
    margin-left: calc(100vw * (50 / 1920));
    display: flex;
    flex-direction: column;
    .podmenu-filter-link{
        color: #000000;
        margin: calc(100vw * (5 / 1920)) 0;
    }
    .location{
        box-sizing: border-box;
        background-color: #F5F5F5;
        border: 1px solid #363636;
        height: 40px;
        padding: 7px 10px;
        width: 100%;
        &::placeholder{
            display: none;
        }
    }
}
.description {
    margin: auto;
    width: fit-content;
    margin-top: calc(100vw * (95 / 1920));
    width: calc(100vw * (980 / 1920));
    .description-card{
        border-radius: 0;
        width: 100%;
        height: auto;
        box-shadow: none;
        .card-content{
            .card-content-image {
                margin: calc(100vw * (57 / 1920)) 0;
            }
            .card-content-bottom{
                margin-top: calc(100vw * (57 / 1920));
                

            }
        }
    }
}
.like-comment{
    display: flex;
}
.before {
    display: flex;
    margin: calc(100vw * (50 / 1920)) 0;
    .arrow-back{
        width: 104px;
        margin-right: 20px;
        margin-top: 10px;
        img{
            width: 100%;
        }
    }
    .before-info{
        height: 77px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.comments{
    .nav-line{
        margin: 0;
    }
}
.new-comment{
    width: 100%;
    box-sizing: border-box;
    padding: calc(100vw * (17 / 1920)) calc(100vw * (14 / 1920));
    display: flex;
    margin-top: calc(100vw * (47 / 1920));
    .smile{
        background-image: url(icon/grey-smile.svg);
        background-size: 100% 100%;
        width: calc(100vw * (29 / 1920));
        height: calc(100vw * (29 / 1920));
        margin-right: calc(100vw * (23 / 1920));
    }
    input{
        width: 100%;
        &::placeholder{
            color: #5F6681;
        }
    }
}
.comments-bottom{
    width: calc(100vw * (980 / 1920));
    margin: auto;
    margin-bottom: calc(100vw * (134 / 1920));
}
.one-comment {
    margin: calc(100vw * (60 / 1920)) 0;
    .user{
        .user-label{
            .user-info{
                margin-left: calc(100vw * (15 / 1920));
            }
            .user-photo{
                width: 80px;
                height: 80px;
            }
        }
        .user-button{
            font-size: 10px;
            height: fit-content;
            .unlike{
                display: flex;
                align-items: flex-end;
                color: #E55555;
                img{
                    margin-right: 4px;
                    padding-top: 5px;
                    height: 110%;
                }
            }
            .like-comment{
                display: flex;
                align-items: flex-end;
                color: #17B126;
                img{
                    margin-right: 4px;
                    height: 110%;
                }
            }
        }
    }
    .comment-content {
        margin-left: 96px;
        .comment-bottom {
            display: flex;
            margin-top: 7px;
            align-items: baseline;
            width: 191px;
            justify-content: space-between;
        }
    }
}
.online{
    border-radius: 50%;
    background-color: #74DF4E;
    width: 24px;
    height: 24px;
    margin-left: 70%;
    margin-top: -30%;
    position: absolute;
}
.profile{
    width: calc(100vw * (1355 / 1920));
    margin: calc(100vw * (54 / 1920)) 0 0 calc(100vw * (485 / 1920));
    .user {
        width: calc(100vw * (1086 / 1920));
        .user-button{
            width: calc(100vw * (461 / 1920));
            .user-mess{
                height: fit-content;
                padding: 11px calc(100vw * (51 / 1920));
            }
            .user-follow{
                height: fit-content;
                padding: 11px calc(100vw * (43 / 1920));
                margin-right: calc(100vw * (10 / 1920));
            }
        }
        
    }
    .user-profile {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        margin: 12px 0 37px 125px;
        .user-profile-col{
            .text-black {
                margin: 12px 0;
            }
        }
    } 
}
.top-label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: calc(100vw * (70 / 1920)) 0;
    .slider-buttons{
        display: flex;
        justify-content: space-between;
        width: 105px;
        .slider-button{
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.storage{
    .card-overflow{
        overflow: hidden;
        width: calc(100vw * (1395 / 1920));
        
    }
}
.card-line {
    display: flex;
    justify-content: space-between;
    width: calc(3 * (100vw * (453 / 1920)));
    height: calc(100vw * (415 / 1920));
    align-items: center;
    .card{
        width: calc(100vw * (438 / 1920));
        height: calc(100vw * (352 / 1920));
        border-radius: 41px;
        .card-title {
            padding: 0 calc(100vw * (33 / 1920));
        }
        .product-title{
            padding: calc(100vw * (22 / 1920)) calc(100vw * (32 / 1920)) calc(100vw * (37 / 1920));
        }
    }
}
.place-info {
    width: 100%;
    display: flex;
    .place-map{
        width: calc(100vw * (980 / 1920));
        height: calc(100vw * (587 / 1920));
        background-image: url(images/map.png);
        background-size: 100% 100%;
        position: relative;
        #l-1{
            position: absolute;
            top: calc(100vw * (140 / 1920));
            left: calc(100vw * (200 / 1920));
        }
        #l-2{
            position: absolute;
            top: calc(100vw * (152 / 1920));
            left: calc(100vw * (524 / 1920));
        }
        #l-3{
            position: absolute;
            top: calc(100vw * (333 / 1920));
            left: calc(100vw * (250 / 1920));
        }
        #l-4{
            position: absolute;
            top: calc(100vw * (333 / 1920));
            left: calc(100vw * (635 / 1920));
        }
    }
    .place-list {
        margin-left: calc(100vw * (20 / 1920));
        margin-top: calc(100vw * (50 / 1920));
        .place-part {
            margin: calc(100vw * (19 / 1920)) 0;
            .text-black{
                margin-bottom: 4px;
            }
        }
    }
}
.events {
    margin-bottom: calc(100vw * (200 / 1920));
}
.card-h{
    display: flex;
    flex-direction: row;
    width: calc(100vw * (980 / 1920));
    height: 163px;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    overflow: hidden;
    .card-h-left{
        display: flex;
        .card-h-image{
            overflow: hidden;
            img{
                
                height: 100%;
                width: 250px;
            }
        }
        .card-h-info {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            
            padding: 20px calc(100vw * (50 / 1920));
            
        }
    }
    .button{
        height: fit-content;
        padding: calc(100vw * (12/ 1920)) calc(100vw * (17 / 1920));
        margin-right: calc(100vw * (38 / 1920));
    }
}
.participants{
    display: flex;
    .participants-photos{
        display: flex;
        .participants-photo{
            position: relative;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-left: -7px;
            img{
                width: 100%;
                height: 100%;
            }
            &:not(:last-child):after {
                content: '';
                background-color: #FFFFFF;
                margin-left: -11.5px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                position: absolute;
            }
        }
    }
    .text-black{
        text-decoration: underline;
        margin-left: 10px;
    }
}
#join-window{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.join-card{
    box-sizing: border-box;
    width: 658px;
    height: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 75px 42px;
    .blue{
        width: 197px;
        height: 48px;
    }
}
.card-grid{
    display: grid;
    height: auto;
    grid-gap: 20px;
    grid-template-columns: repeat(3, calc(100vw * (438 / 1920)));
    margin-bottom: calc(100vw * (200 / 1920));
}
#slider-line {
    display: flex;
    justify-content: space-between;
    .line-arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100vw * (105 / 1920));
        height: calc(100vw * (82 / 1920));
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        img{
            width: calc(100vw * (30 / 1920));
            height: calc(100vw * (61 / 1920));
        }
    }
    .line-overflow{
        overflow: hidden;
        width: 100%;
        .line-images{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .line-image{
                width: calc(100vw * (105 / 1920));
                height: calc(100vw * (68 / 1920));
                margin: 0 calc(100vw * (10 / 1920));
            }
        }
    }
}
#slider-image{
    margin-bottom: 0;
    padding: 0;
}
.equip{
    margin-bottom: calc(100vw * (110 / 1920));
    .card-content-bottom{
        width: calc(100vw * (586 / 1920));
        justify-content: space-between;
    }
}
.feedback{
    margin: calc(100vw * (41 / 1920)) 0 calc(100vw * (71 / 1920));
}
.nav-title{
    display: flex;
    .text-grey-2{
        margin-left: calc(100vw * (16 / 1920));
    }
}
.journal{
    margin-bottom: calc(100vw * (200 / 1920));
    .size-40{
        margin: calc(100vw * (53 / 1920)) 0 calc(100vw * (10 / 1920));
    }
    .card-h{
        .card-content-bottom{
            display: flex;
            .button{
                
                align-items: center;
                img{
                    margin-right: 10px;
                    height: 100%;
                }
            }
            
        }
    }
}
.card-line-1 {
    display: grid;
    grid-template-columns: calc(100vw * (730 / 1920)) calc(100vw * (616 / 1920));
    grid-template-rows: calc(100vw * (553 / 1920));
    grid-gap: 20px;
    margin-bottom: calc(100vw * (20 / 1920));
}
.card-line-2 {
    display: grid;
    grid-template-columns: repeat(3, calc(100vw * (438 / 1920)));
    grid-template-rows: calc(100vw * (506 / 1920));
    grid-gap: 20px;
}
.status{
    position: absolute;
    padding: calc(100vw * (8 / 1920)) calc(100vw * (24 / 1920));
}
.card-map {
    width: 100%;
    height: 100%;
    .card-image {
        height: 57%;
        overflow: hidden;
        position: relative;
        img{
            height: 100%;
            width: auto;
        }
        .status{
            top: calc(100vw * (26 / 1920));
            left:  calc(100vw * (42 / 1920));
        }
        .place-label{
            position: absolute;
            top: 56%;
            left: 58%;
            height: 15%;
        }
    }
    
    .card-title {
        align-items: flex-start;
        height: 43%;
        flex-direction: column;
        padding: 2% calc(100vw * (42 / 1920)) 5%;
    }
    
}
.card-list {
    padding: calc(100vw * (30 / 1920)) 0 calc(100vw * (190 / 1920));
    .card-h{
        margin: calc(100vw * (22 / 1920)) 0;
        width: 100%;
        .status{
            margin-top: 130px;
            margin-left: -12px;
        }
    }
}
.search-filter{
    margin: 0;
    input{
        width: 90%;
        
    }
}
.big-map{
    position: relative;
    background-image: url(images/big-map.png);
    background-size: 100% 100%;
    width: 100%;
    height: calc(100vw * (567 / 1920));
    .place-label{
        position: absolute;
        height: 15%;
    }
    #l-1{
        top: calc(100vw * (150 / 1920));
        left: calc(100vw * (375 / 1920));
    }
    #l-2{
        top: calc(100vw * (270 / 1920));
        left: calc(100vw * (561 / 1920));
    }
    #l-3{
        top: calc(100vw * (159 / 1920));
        left: calc(100vw * (1016 / 1920));
    }
    .scale{
        position: absolute;
        right: 10px;
        bottom: calc(100vw * (72 / 1920));
        .scale-up{
            border-radius: 10px;
            width: 43px;
            height: 42px;
            margin-bottom: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 80%;
                height: 80%;
            }
        }
        .scale-down{
            border-radius: 10px;
            width: 43px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 80%;
                height: 80%;
            }
        }
    }
}
.card-place-list {
    margin-bottom: calc(100vw * (190 / 1920));
    .card-place {
        margin: calc(100vw * (27 / 1920)) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: calc(100vw * (-80 / 1920));
        .card-place-info{
            .text-grey-2{
                margin: calc(100vw * (12 / 1920)) 0;
            }
            .size-20{
                text-decoration: underline;
            }
        }
        .card-place-images{
            width: calc(100vw * (810 / 1920));
            overflow: hidden;
            .card-place-images-line {
                display: flex;
                width: auto;
                .card-place-image{
                    width: calc(100vw * (401 / 1920));
                    height: calc(100vw * (222 / 1920));
                    margin-right: calc(100vw * (37 / 1920));
                    img{
                        height: 100%;
                    }
                }
            }
        }
    }
}
.partners-header{
    margin-left: calc(100vw * (360 / 1920));
    background-image: url(images/partners.png);
    background-size: 100% 100%;
    height: calc(100vw * (499 / 1920));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    
    .partners-header-center{
        display: flex;
        .patners-header-image{
            width: calc(100vw * (185 / 1920));
            height: calc(100vw * (185 / 1920));
            margin-right: calc(100vw * (65 / 1920));
            img{
                width: 100%;
                height: 100%;
            }
        }
        .partners-header-info{
            width: calc(100vw * (638 / 1920));
        }
    }
}
.button-partners{
    display: flex;
    margin-top: calc(100vw * (-54 / 1920));
    margin-left: calc(100vw * (501 / 1920));
    .button{
        padding: calc(100vw * (12 / 1920)) calc(100vw * (17 / 1920));
        margin-right: calc(100vw * (33 / 1920));
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}
.partners-sales{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: calc(100vw * (48 / 1920));
    .button{
        padding: calc(100vw * (18 / 1920)) calc(100vw * (43 / 1920));
    }
}
.advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    .advantages-card {
        display: flex;
        align-items: center;
        flex-direction: column;
        .advantages-image {
            border-radius: 50%;
            background-color: rgba(0, 56, 255, 0.04);
            width: calc(100vw * (168 / 1920));
            height: calc(100vw * (168 / 1920));
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 13px;
            img{
                width: 70%;
                height: 70%;
            }
        }
        .advantages-text{
            width: calc(100vw * (367 / 1920));
            text-align: center;
        }
    }
}
.partner-contact{
    display: grid;
    grid-template-columns: calc(100vw * (625 / 1920)) calc(100vw * (730 / 1920));
    margin: calc(100vw * (175 / 1920)) 0 calc(100vw * (219 / 1920));
    .partner-contact-info {
        margin-right: 10px;
        .size-50{
            margin-bottom: calc(100vw * (46 / 1920));
        }
        .size-30{
            margin: calc(100vw * (14 / 1920)) 0;
        }
    }
    .parner-map{
        background-image: url(images/contact-map.png);
        background-size: 100%;
        width: 100%;
        height: calc(100vw * (526 / 1920));
        position: relative;
        .place-label{
            position: absolute;
            top: calc(100vw * (143 / 1920));
            left: calc(100vw * (442 / 1920));
        }
    }
}
.login-content{
    display: grid;
    grid-template-columns: calc(100vw * (435 / 1920)) calc(100vw * (1315 / 1920));
    grid-gap: 10px;
    
    margin: calc(100vw * (121 / 1920)) 0 calc(100vw * (142 / 1920));
    position: relative;
    .login-gradient{
        background-image: url(images/login-gradient.svg);
        background-size: 100% 100%;
        width: calc(100vw * (470 / 1920));
        height: calc(100vw * (586 / 1920));
        position: absolute;
        bottom: calc(100vw * (-305 / 1920));
        right: 0;
        z-index: -1;
    }
    .login-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vw * (367 / 1920));
        .social {
            .social-line {
                display: flex;
                margin-top: calc(100vw * (14 / 1920));
                .social-part {
                    margin-right: calc(100vw * (16 / 1920));
                }
            }
        }
        .login-register{
            .button{
                margin-top: calc(100vw * (20 / 1920));
                padding: calc(100vw * (12 / 1920)) calc(100vw * (18 / 1920));
                display: block;
                width: fit-content;
            }
        }
    }
    .login-form {
        
        form{
            width: 425px;
            .button{
                margin: calc(100vw * (20 / 1920)) 0 calc(100vw * (14 / 1920));
                padding: calc(100vw * (12 / 1920)) 0;
                width: 227px;
            }
            input{
                display: block;
                width: 425px;
            }
            .input-form{
                height: calc(100vw * (112 / 1920));
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 6px 0;
                input{
                    padding: calc(100vw * (13 / 1920)) calc(100vw * (24 / 1920));
                    &::placeholder{
                        color: #5575E8;
                    }
                }
                
            }
            
        }
    }
}
.whith-text{
    display: flex;
    margin-right: -310px;
    .size-12{
        width: 235px;
        margin-left: calc(100vw * (20 / 1920));
    }
    input{
        width: 425px;
    }
}
.return-password{
    .login-info{
        height: calc(100vw * (250 / 1920));
    }
    .login-form{
        form{
            .input-form{
                height: calc(100vw * (66 / 1920));
            }
        }
    }
}
.register{
    .login-info {
        height: calc(100vw * (376 / 1920));
        .login-register{
            .button{
                width: 185px;
                text-align: center;
            }
        }
    }
    .login-form{
        form{
            .input-form{
                height: calc(100vw * (376 / 1920));
                
            }
        }
    }
}
.underline{
    text-decoration: underline;
}
@media (max-width: 1620px){
    body{
        font-size: 18px;
    }
    .size-50{
        font-size: 40px;
    }
    .size-40{
        font-size: 30px;
    }
    .size-30{
        font-size: 26px;
    }
    .size-26{
        font-size: 22px;
    }
    .size-20{
        font-size: 18px;
    }
    .size-14{
        font-size: 12px;
    }
    .profile{
        .user{
            width: 100%;
            .user-button{
                width: calc(100vw * (450 / 1620));
            }
        }
    }
    .right-filter{
        .size-26{
            padding-left: 0;
            padding-right: 0;
        }
    }
    .br{
        display: none;
    }
    .journal{
        .card-h{
            .card-content-bottom{
                .button{
                    img{
                        height: 30px;
                    }
                }
                
            }
        }
    }
    #slider-line{
        .line-overflow{
            .line-images{
                justify-content: space-around;
                width: 685px;
                height: 69px;
            }
        }
        
    }
}
@media (max-width: 1364px){
    body{
        font-size: 16px;
    }
    button{
        border-radius: 35px;
    }
    .button{
        border-radius: 35px;
    }
    .card{
        border-radius: 35px;
    }
    .size-16{
        font-size: 12px;
    }
    .size-18{
        font-size: 14px;
    }
    .size-20{
        font-size: 16px;
    }
    .size-26{
        font-size: 20px;
    }
    .size-30{
        font-size: 22px;
    }
    .size-40{
        font-size: 24px;
    }
    .size-50{
        font-size: 30px;
    }
    .menu{
        height: 70px;
        .logo{
            height: 60px;
            width: 165px;
        }
        .menu-right{
            .blue{
                height: 35px;
            }
        }
    }
    .header {
        
        .header-content {
            .center-search{
                height: 200px;
            }
        }
    }
    .search-line{
        width: 600px;
        height: 40px;
        input{
            width: 330px;
        }
        .button{
            width: 140px;
        }
    }
    .top-search{
        width: 400px;
        height: 35px;
    }
    .podmenu-filter {
        .location{
            height: 30px;
        }
    }
    .filter-card{
        width: calc(100vw * (875 / 1920));
        height: calc(100vw * (528 / 1920));
        border-radius: 30px;
        padding: 0 30px;
        margin-top: 150px;
        .filter-card-top {
            height: calc(100vw * (120 / 1920));
            .close-image{
                width: calc(100vw * (40 / 1920));
                height: calc(100vw * (40 / 1920));
            }
        }
    }
    .user {
        .user-label {
            .user-photo{
                width: 80px;
                height: 80px;
            }
        }
    }
    .profile{
        .user-profile{
            margin-left: 95px;
            grid-template-columns: repeat(2, 200px);
        }
    }
    .nav-line {
        .nav-title {
            img{
                width: 15px;
            }
        }
    }
    .online{
        width: 18px;
        height: 18px;
    }
    .card-h {
        .card-h-left {
            .card-h-info {
                padding:  calc(100vw * (25 / 1364)) 0 calc(100vw * (25 / 1364)) 15px;
                
            }
        }
    }
    .participants {
        .participants-photos {
            .participants-photo{
                width: 20px;
                height: 20px;
                &:not(:last-child):after{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .text-black{
            margin-left: 4px;
        }
    }
    .card-line {
        .card{
            border-radius: 30px;
        }
    }
    .top-label {
        .slider-buttons {
            width: 75px;
            .slider-button{
                width: 30px;
                height: 30px;
                img{
                    height: 15px;
                }
            }
        }
    }
    .card {
        .card-title {
            .arrow-more{
                width: 40px;
            }
        }
    }
    .card-content {
        .card-content-bottom {
            .button {
                img{
                    height: 25px;
                }
            }
        }
    }
    .before {
        .before-info{
            height: 50px;
        }
    }
    .journal {
        .card-h {
            .card-h-image{
                width: 200px;
            }
            .card-h-info{
                padding:  calc(100vw * (25 / 1364)) 10px;
            }
            .card-content-bottom {
                .button{
                    margin-right: 15px;
                    img{
                        height: 20px;
                    }
                    
                }
            }
        }
    }
    .one-comment {
        .user {
            .user-label {
                .user-photo{
                    width: 65px;
                    height: 65px;
                }
            }
        }
        .comment-content{
            margin-left: 77px;
        }
    }
    .footer {
        .footer-list {
            .footer-col {
                .footer-social {
                    .social{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px){
    body{
        font-size: 14px;
    }
    .size-14{
        font-size: 11px;
    }
    .size-20{
        font-size: 14px;
    }
    .size-26{
        font-size: 16px;
    }
    .size-40{
        font-size: 20px;
    }
    .card{
        border-radius: 23px;
    }
    .card-h{
        width: 100%;
        height: 140px;
    }
    .place-info{
        flex-direction: column;
    }
}