doctype html 
html 
    include component/head.pug
    body 
        include component/user-header.pug 
        .hr
        main.main
            include component/user-left-menu.pug 
            .content-wrapper
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black 
                        | Мероприятия
                .nav-line.content
                    .search-line.button.white-blue-border.top-search.search-filter
                        .search-image.blue-search
                        input.size-14.text-blue(type="text" placeholder="Фильтр по стране или городу")
                    .nav-sort.light-blue-blue-border.text-blue.size-12.button
                        .nav-sort-line.blue.text-white.button По теме
                        .nav-sort-line.button По дате
                        .nav-sort-line.button По участникам
                .profile
                    .card-line-1 
                        .card.button.card-map 
                            .card-image
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .status.white-white-border.button.text-green.size-16 Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    .size-30.text-black Название
                                    .size-18.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                        .card.button.card-map 
                            .card-image
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .status.white-white-border.button.text-green.size-16 Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    .size-30.text-black Название
                                    .size-18.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный количественный рост...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                    .card-line-2
                        .card.button.card-map 
                            .card-image
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .status.white-white-border.button.text-green.size-16 Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    .size-30.text-black Название
                                    .size-18.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                        .card.button.card-map 
                            .card-image
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .status.white-blue-border.button.text-blue.size-16 В процессе
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    .size-30.text-black Название
                                    .size-18.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                        .card.button.card-map 
                            .card-image
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .status.white-white-border.button.text-green.size-16 Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    .size-30.text-black Название
                                    .size-18.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                    .card-list 
                        .card.button.card-h
                                .status.white-blue-border.button.text-blue.size-16 В процессе
                                .card-h-left
                                    .card-h-image 
                                        
                                        img(src="images/map.png", alt="")
                                    .card-h-info 
                                        .size-16.weight-500.text-black 07.12.2021
                                        .size-30.text-black Название 
                                        .text-black Значимость этих проблем настолько очевидна, что постоянный...
                                        .participants 
                                            .participants-photos
                                                .participants-photo
                                                    img(src="images/comment-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/user-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/photo.png", alt="")
                                            .text-black 10 участников
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                        .card.button.card-h
                                .status.white-green-border.button.text-green.size-16 Скоро начнётся
                                .card-h-left
                                    .card-h-image 
                                        
                                        img(src="images/map.png", alt="")
                                    .card-h-info 
                                        .size-16.weight-500.text-black 07.12.2021
                                        .size-30.text-black Название 
                                        .text-black Значимость этих проблем настолько очевидна, что постоянный...
                                        .participants 
                                            .participants-photos
                                                .participants-photo
                                                    img(src="images/comment-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/user-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/photo.png", alt="")
                                            .text-black 10 участников
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                        .card.button.card-h
                                .status.white-orange-border.button.text-orange.size-16 Закончилось
                                .card-h-left
                                    .card-h-image 
                                        
                                        img(src="images/map.png", alt="")
                                    .card-h-info 
                                        .size-16.weight-500.text-black 07.12.2021
                                        .size-30.text-black Название 
                                        .text-black Значимость этих проблем настолько очевидна, что постоянный...
                                        .participants 
                                            .participants-photos
                                                .participants-photo
                                                    img(src="images/comment-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/user-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/photo.png", alt="")
                                            .text-black 10 участников
                                .mobile-user-menu
                                .user-button-desktop.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
                                .user-button-mobile.white-white-border.card
                                    .user-button-line
                                        img(src="icon/black-plus.svg", alt="")
                                        | Принять участие
        include component/footer.pug