doctype html 
html 
    include component/head.pug
    body 
        include component/user-header.pug 
        .hr
        main.main
            include component/user-left-menu.pug 
            .content-wrapper
                .nav-line.content
                    .top-label
                        .size-50
                            .weight-500.text-black.size-30 Места катания
                            a.blue.button.text-white.size-20(href="user-storage-add.html") Добавить место
                    a.left-profile-button(href='user-myprofile.html')
                        .size-20.text-black  Назад в профиль
                        .arrow-more
                .nav-line.content
                    .search-line.button.white-blue-border.top-search.search-filter
                        .search-image.blue-search
                        input.size-14(type="text" placeholder="Фильтр по стране или городу")
                    .nav-sort.light-blue-blue-border.text-blue.size-12.button
                        .nav-sort-line.blue.text-white.button По популярности
                        .nav-sort-line.button По порядку
                .profile 
                    .big-map.card
                        .about-map-card.white-white-border
                            .size-26.text-black оз. Муромское, Респ. Карелия
                            .size-18.text-grey-2 61.483886, 36.340335
                            .size-20.text-black Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу...
                            a.size-18.text-black.underline(href="user-myabout-place.html") Подробнее
                        button.place-label#l-1
                            .active-label
                        button.place-label#l-2
                            .active-label
                        button.place-label#l-3
                            .active-label
                        .scale 
                            .scale-up.white-white-border
                                img(src="icon/plus.svg", alt="")
                            .scale-down.white-white-border
                                img(src="icon/minus.svg", alt="")
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black 
                        | Список мест
                .profile
                    .card-place-list
                        .card-place 
                            .card-place-info 
                                a.size-26.text-black(href='user-myabout-place.html') оз. Муромское, Респ.&nbsp;Карелия
                                .text-grey-2.size-18 61.483886, 36.340335
                                a.size-20.text-black(href='user-myabout-place.html') Смотреть описание
                                .card-content-bottom
                                    button.button.size-22.text-black-2
                                        img.like(src="icon/like.svg", alt="")
                                        | 20
                                    button.button.size-22.text-black-2
                                        img(src="icon/comment.svg", alt="")
                                        | 25
                                .change-card 
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
                            .card-place-images
                                #slider.card-place-images-line 
                                    .card-place-image
                                        img(src="images/place-3.png", alt="")
                                    .card-place-image
                                        img(src="images/place-4.png", alt="")
                        .card-place 
                            .card-place-info 
                                a.size-26.text-black(href='user-myabout-place.html') оз. Муромское, Респ.&nbsp;Карелия
                                .text-grey-2.size-18 61.483886, 36.340335
                                a.size-20.text-black(href='user-myabout-place.html') Смотреть описание
                                .card-content-bottom
                                    button.button.size-22.text-black-2
                                        img.like(src="icon/like.svg", alt="")
                                        | 20
                                    button.button.size-22.text-black-2
                                        img(src="icon/comment.svg", alt="")
                                        | 25
                                .change-card 
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
                            .card-place-images
                                #slider.card-place-images-line 
                                    .card-place-image
                                        img(src="images/place-3.png", alt="")
                                    .card-place-image
                                        img(src="images/place-4.png", alt="")
                        .card-place 
                            .card-place-info 
                                a.size-26.text-black(href='user-myabout-place.html') оз. Муромское, Респ.&nbsp;Карелия
                                .text-grey-2.size-18 61.483886, 36.340335
                                a.size-20.text-black(href='user-myabout-place.html') Смотреть описание
                                .card-content-bottom
                                    button.button.size-22.text-black-2
                                        img.like(src="icon/like.svg", alt="")
                                        | 20
                                    button.button.size-22.text-black-2
                                        img(src="icon/comment.svg", alt="")
                                        | 25
                                .change-card 
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
                            .card-place-images
                                #slider.card-place-images-line 
                                    .card-place-image
                                        img(src="images/place-3.png", alt="")
                                    .card-place-image
                                        img(src="images/place-4.png", alt="")
                        .card-place 
                            .card-place-info 
                                a.size-26.text-black(href='user-myabout-place.html') оз. Муромское, Респ.&nbsp;Карелия
                                .text-grey-2.size-18 61.483886, 36.340335
                                a.size-20.text-black(href='user-myabout-place.html') Смотреть описание
                                .card-content-bottom
                                    button.button.size-22.text-black-2
                                        img.like(src="icon/like.svg", alt="")
                                        | 20
                                    button.button.size-22.text-black-2
                                        img(src="icon/comment.svg", alt="")
                                        | 25
                                .change-card 
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
                            .card-place-images
                                #slider.card-place-images-line 
                                    .card-place-image
                                        img(src="images/place-3.png", alt="")
                                    .card-place-image
                                        img(src="images/place-4.png", alt="")
        include component/footer.pug