doctype html 
html 
    include component/head.pug
    body 
        include component/user-header.pug 
        .hr
        main.main
            include component/user-left-menu.pug 
            .content-wrapper
                .nav-line.content
                    .top-label
                        .size-50
                            .weight-500.text-black.size-30 Мероприятия
                            a.blue.button.text-white.size-18(href="user-event-add.html") Создать мероприятие
                .nav-line.content
                    .search-line.button.white-blue-border.top-search.search-filter
                        .search-image.blue-search
                        input.size-14.text-blue(type="text" placeholder="Фильтр по стране или городу")
                    .nav-sort.light-blue-blue-border.text-blue.size-12.button
                        .nav-sort-line.blue.text-white.button По теме
                        .nav-sort-line.button По дате
                        .nav-sort-line.button По участникам
                .profile
                    .card-line-1 
                        .card.button.card-map 
                            .card-image
                                
                                .status.white-white-border.button.text-green.size-16 Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    a.size-30.text-black(href='user-myabout-event.html') Название
                                    .size-18.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                                .change-card 
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
                        .card.button.card-map 
                            .card-image
                                .status.white-white-border.button.text-green.size-16 Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    a.size-30.text-black(href='user-myabout-event.html') Название
                                    .size-18.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный количественный рост...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                                .change-card 
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
                    .card-line-2
                        .card.button.card-map 
                            .card-image
                                .status.white-white-border.button.text-green.size-16 Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    a.size-30.text-black(href='user-myabout-event.html') Название
                                    .size-18.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                                .change-card 
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
                        .card.button.card-map 
                            .card-image
                                .status.white-blue-border.button.text-blue.size-16 В процессе
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    a.size-30.text-black(href='user-myabout-event.html') Название
                                    .size-18.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                                .change-card 
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
                        .card.button.card-map 
                            .card-image
                                .status.white-white-border.button.text-green.size-16 Скоро начнётся
                                button.place-label
                                    img(src="icon/location.svg", alt="")
                                img(src="images/card-map.png", alt="")
                            .card-title 
                                .card-label
                                    a.size-30.text-black(href='user-myabout-event.html') Название
                                    .size-18.text-grey-2 07.01.2022
                                .size-20.text-black Значимость этих проблем настолько очевидна, что постоянный...
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                                .change-card 
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
                    .card-list 
                        .card.button.card-h
                                .status.white-blue-border.button.text-blue.size-16 В процессе
                                .card-h-left
                                    .card-h-image 
                                        
                                        img(src="images/map.png", alt="")
                                    .card-h-info 
                                        .size-16.weight-500.text-black 07.12.2021
                                        a.size-30.text-black(href='user-myabout-event.html') Название 
                                        .text-black Значимость этих проблем настолько очевидна, что постоянный...
                                        .participants 
                                            .participants-photos
                                                .participants-photo
                                                    img(src="images/comment-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/user-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/photo.png", alt="")
                                            .text-black 10 участников
                                .card-h-right
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
                        .card.button.card-h
                                .status.white-green-border.button.text-green.size-16 Скоро начнётся
                                .card-h-left
                                    .card-h-image 
                                        
                                        img(src="images/map.png", alt="")
                                    .card-h-info 
                                        .size-16.weight-500.text-black 07.12.2021
                                        a.size-30.text-black(href='user-myabout-event.html') Название 
                                        .text-black Значимость этих проблем настолько очевидна, что постоянный...
                                        .participants 
                                            .participants-photos
                                                .participants-photo
                                                    img(src="images/comment-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/user-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/photo.png", alt="")
                                            .text-black 10 участников
                                .card-h-right
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
                        .card.button.card-h
                                .status.white-orange-border.button.text-orange.size-16 Закончилось
                                .card-h-left
                                    .card-h-image 
                                        
                                        img(src="images/map.png", alt="")
                                    .card-h-info 
                                        .size-16.weight-500.text-black 07.12.2021
                                        a.size-30.text-black(href='user-myabout-event.html') Название 
                                        .text-black Значимость этих проблем настолько очевидна, что постоянный...
                                        .participants 
                                            .participants-photos
                                                .participants-photo
                                                    img(src="images/comment-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/user-photo.png", alt="")
                                                .participants-photo
                                                    img(src="images/photo.png", alt="")
                                            .text-black 10 участников
                                .card-h-right
                                    a.size-18.text-blue(href='user-place-add.html')  
                                        img(src="icon/return.svg", alt="")
                                        | Изменить
                                    .size-18.text-red
                                        img(src="icon/del.svg", alt="")
                                        | Удалить
        include component/footer.pug