doctype html 
html 
    include component/head.pug
    body 
        include component/user-header.pug 
        .hr
        .nav-line.content.mobile
            .nav-title.size-30.weight-500.text-black
                a.size-30.weight-500.text-black(href='user-types-of-sports.html') Велосипед
                img(src="icon/arrow-nav.svg", alt="")
                | Городской велосипед
        main.main
            include component/user-left-menu.pug
            .content-wrapper
                .nav-line.content.desktop
                    .nav-title.size-30.weight-500.text-black 
                        a(href='user-types-of-sports.html') Велосипед
                        img(src="icon/arrow-nav.svg", alt="")
                        | Городской велосипед
                .profile   
                    .mark-equipment 
                        .mark-equipment-title.size-40.weight-500 Марка трaнспорта
                        .mark-equipment-list
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                                img(src="icon/mark1.svg", alt="") 
                                | Cannondale
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                                img(src="icon/mark2.svg", alt="") 
                                | Corratec
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                                img(src="icon/mark3.svg", alt="") 
                                | GT
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                                img(src="icon/mark4.svg", alt="") 
                                | Jamis
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                                img(src="icon/mark5.svg", alt="") 
                                | Mongoose
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                                img(src="icon/mark6.svg", alt="") 
                                | Outleap
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                                img(src="icon/mark7.svg", alt="") 
                                | Pure Fix
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                                img(src="icon/mark8.svg", alt="") 
                                | Zycle Fix
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                                img(src="icon/mark9.svg", alt="") 
                                | Nirve
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                                img(src="icon/mark10.svg", alt="") 
                                | Bickerton
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html')  
                                img(src="icon/mark11.svg", alt="") 
                                | Outleap
                            a.mark-equipment-part.size-30.text-black(href='user-mark.html') 
                                img(src="icon/mark12.svg", alt="") 
                                | Ubike
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black 
                        | Последние записи
                .profile 
                    .page-card-list-small
                        - for (var x = 0; x < 6; x++)
                            .card.button.card-map
                                .card-image 
                                    img(src="images/last-note.png", alt="")
                                .card-title.product-title
                                    a.size-20.weight-500.text-black(href='user-description.html') Замена седла на велосипеде Cannondale
                                    .card-bottom
                                        .card-bottom-info
                                            .weight-500.size-18.open-user-card Name 1
                                            .user-card.white-white-border.card
                                                .user 
                                                    .user-label
                                                        .user-photo
                                                            a(href='user-profile.html')
                                                                img(src="images/user-photo.png", alt="")
                                                            .online
                                                        .user-info
                                                            a.user-name.size-30.weight-500.text-black(href='user-profile.html') Андрей Кулагин
                                                            .user-level.text-grey-2 Мастер
                                                            .user-location.text-grey-2 Москва, Россия
                                                    .user-button.desktop
                                                        button.user-follow.blue.text-white.size-20 Подписаться
                                                        button.user-mess.white-blue-border.text-blue.size-20 Сообщение
                                            .size-14 Россия, Москва
                                        .card-content-bottom
                                            button.button.size-22.text-black-2
                                                img.like(src="icon/like.svg", alt="")
                                                | 20
                                            button.button.size-22.text-black-2
                                                img(src="icon/comment.svg", alt="")
                                                | 25
                    button.button.blue.size-20.text-white.border-top-0 Показать ещё    
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black 
                        | Бортжурналы
                .nav-line.content
                    .search-line.button.white-blue-border.top-search.search-filter
                        .search-image.blue-search
                        input.size-14.text-blue(type="text" placeholder="Фильтр по стране или городу")
                    .nav-sort.light-blue-blue-border.text-blue.size-12.button
                        .nav-sort-line.blue.text-white.button По популярности
                        .nav-sort-line.button По коментариям
                        .nav-sort-line.button По дате
                .profile 
                    .page-card-list-small
                        - for (var x = 0; x < 6; x++)
                            .card.button.card-map
                                .card-image 
                                    img(src="images/product.png", alt="")
                                .card-title.product-title
                                    a.size-20.weight-500.text-black(href='user-eguipment.html') Велосипед Cannondale
                                    .card-bottom
                                        .card-bottom-info
                                            .weight-500.size-18.open-user-card Name 1
                                            .user-card.white-white-border.card
                                                .user 
                                                    .user-label
                                                        .user-photo
                                                            a(href='user-profile.html')
                                                                img(src="images/user-photo.png", alt="")
                                                            .online
                                                        .user-info
                                                            a.user-name.size-30.weight-500.text-black(href='user-profile.html') Андрей Кулагин
                                                            .user-level.text-grey-2 Мастер
                                                            .user-location.text-grey-2 Москва, Россия
                                                    .user-button.desktop
                                                        button.user-follow.blue.text-white.size-20 Подписаться
                                                        button.user-mess.white-blue-border.text-blue.size-20 Сообщение
                                            .size-14 Россия, Москва
                                        .card-content-bottom
                                            button.button.size-22.text-black-2
                                                img.like(src="icon/like.svg", alt="")
                                                | 20
                                            button.button.size-22.text-black-2
                                                img(src="icon/comment.svg", alt="")
                                                | 25
        include component/footer.pug