doctype html 
html 
    include component/head.pug
    body 
        include component/user-header.pug 
        .hr
        main.main
            include component/user-left-menu.pug 
            .content-wrapper
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black 
                        | Смена пароля
                    a.left-profile-button(href='user-myprofile.html')
                        .size-20.text-black  Назад в профиль
                        .arrow-more
                .profile 
                        .profile-edit-field 
                            .profile-edit-line
                                .profile-edit-title.size-20.text-black Текущий пароль
                                .profile-edit-input
                                    input.light-blue-blue-border.button.size-16(type="text")
                                    a.size-12.text-blue.underline(href="") Забыли пароль?
                                .profile-edit-text
                .hr    
                .profile.margin-end 
                        .profile-edit-field 
                            .profile-edit-line
                                .profile-edit-title.size-20.text-black Новый пароль
                                .profile-edit-input
                                    input.light-blue-blue-border.button.size-16(type="text")
                                .profile-edit-text       
                            .profile-edit-line
                                .profile-edit-title.size-20.text-black Повторите пароль
                                .profile-edit-input
                                    input.light-blue-blue-border.button.size-16(type="text")
                                .profile-edit-text   
                            .save-change.margin-left-button
                                button.button.blue.size-20.text-white Сменить пароль
        include component/footer.pug 