doctype html 
html 
    include component/head.pug
    body 
        include component/user-header.pug 
        .hr
        include component/user-left-menu.pug 
        .profile
            .user.width-100
                .user-label
                    .user-photo
                        a(href='guest-myprofile.html')
                            img(src="images/user-photo.png", alt="")
                        .online
                    .user-info
                        .user-name.size-50.weight-500.text-black Андрей Кулагин
                        .user-level.text-grey-2 Мастер
                        .user-location.text-grey-2 Москва, Россия
                .myprofile-button.desktop
                    a.button.blue.text-white.size-20(href='user-profile-edit.html') Редактировать профиль
                    a#exit.left-profile-button(href='index.html')
                        .size-20.text-black  Выйти
                        .arrow-more
                
            .user-profile 
                .user-profile-col 
                    .text-black 2 подписчика
                    .text-black 8 лет на сайте
                .user-profile-col 
                    .text-black 10 подписок
                    .text-black 567 комментариев
            .user-button-profile.mobile
                a.button.blue.text-white.size-20(href='index.html') Редактировать профиль
        .hr 
        .profile 
            .mobile-button-myprofile.mobile 
                a.light-blue-blue-border.button.text-blue.size-20(href="user-storage-add.html") Добавить снаряжение
                a.light-blue-blue-border.button.text-blue.size-20(href="user-place-add.html") Добавить место
                a.light-blue-blue-border.button.text-blue.size-20(href="user-event-add.html") Создать мероприятие
            .storage 
                .top-label
                    .size-50.text-black
                        a.text-black.weight-500(href="user-mystorage.html")  Кладовка
                        a.light-blue-blue-border.button.text-blue.size-20.desktop(href="user-storage-add.html") Добавить снаряжение
                    .slider-buttons
                        button.slider-button.blue
                            img(src="icon/white-back.svg", alt="")
                        button.slider-button.blue
                            img(src="icon/white-forward.svg", alt="")
                .card-overflow
                    .card-line 
                        a.card.button(href='user-myequipment.html') 
                            .card-image 
                                img(src="images/storage.png", alt="")
                            .card-title 
                                .size-26.weight-500.text-black Снаряжение 1 
                                .arrow-more
                        a.card.button(href='user-myequipment.html') 
                            .card-image 
                                img(src="images/storage.png", alt="")
                            .card-title 
                                .size-26.weight-500.text-black Снаряжение 2
                                .arrow-more
                        a.card.button(href='user-myequipment.html') 
                            .card-image 
                                img(src="images/storage.png", alt="")
                            .card-title 
                                .size-26.weight-500.text-black Снаряжение 3
                                .arrow-more
            .storage 
                .top-label
                    .size-50.weight-500.text-black Избранное
                    .slider-buttons
                        button.slider-button.blue
                            img(src="icon/white-back.svg", alt="")
                        button.slider-button.blue
                            img(src="icon/white-forward.svg", alt="")
                .card-overflow
                    .card-line 
                        .card.button(href='guest-description.html') 
                            .card-image 
                                img(src="images/state.png", alt="")
                            .card-title 
                                .size-26.weight-500.text-black Статья 1
                                .arrow-more
                        .card.button(href='guest-description.html') 
                            .card-image 
                                img(src="images/state.png", alt="")
                            .card-title 
                                .size-26.weight-500.text-black Статья 2
                                .arrow-more
                        .card.button(href='guest-description.html') 
                            .card-image 
                                img(src="images/state.png", alt="")
                            .card-title 
                                .size-26.weight-500.text-black Статья 3
                                .arrow-more
            .place 
                .top-label
                    .size-50.text-black 
                        .weight-500 Места катания
                        a.light-blue-blue-border.button.text-blue.size-20.desktop(href="user-place-add.html") Добавить место
                .place-info 
                    .place-map.button
                        button.place-label#l-1
                            img(src="icon/location.svg", alt="")
                        button.place-label#l-2
                            img(src="icon/location.svg", alt="")
                        button.place-label#l-3
                            img(src="icon/location.svg", alt="")
                        button.place-label#l-4
                            img(src="icon/location.svg", alt="")
                    .place-list 
                        .place-part 
                            .text-black оз. Муромское, Респ. Карелия
                            .size-16.text-grey-2 61.483886, 36.340335
                        .place-part 
                            .text-black оз. Муромское, Респ. Карелия
                            .size-16.text-grey-2 61.483886, 36.340335
                        .place-part 
                            .text-black оз. Муромское, Респ. Карелия
                            .size-16.text-grey-2 61.483886, 36.340335
                        .place-part 
                            .text-black оз. Муромское, Респ. Карелия
                            .size-16.text-grey-2 61.483886, 36.340335
                        .place-part 
                            .text-black оз. Муромское, Респ. Карелия
                            .size-16.text-grey-2 61.483886, 36.340335
            .events 
                .top-label
                    .size-50.text-black 
                        .weight-500 Мероприятия
                        a.light-blue-blue-border.button.text-blue.size-20.desktop(href="user-event-add.html") Создать мероприятие
                .events-list 
                    .card.button.card-h
                        .card-h-left
                            .card-h-image 
                                img(src="images/map.png", alt="")
                            .card-h-info 
                                .size-16.weight-500.text-black 07.12.2021
                                a.size-30.text-black(href='user-about-event.html') Название 
                                .text-black Небольшое описание
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                        .card-h-right.desktop
                            .close-image
                            a.button.size-20.blue.text-white(href='user-event-add.html') Изменить
                        
                    .card.button.card-h
                        .card-h-left
                            .card-h-image 
                                img(src="images/map.png", alt="")
                            .card-h-info 
                                .size-16.weight-500.text-black 07.12.2021
                                a.size-30.text-black(href='user-about-event.html') Название 
                                .text-black Небольшое описание
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                        .card-h-right.desktop
                            .close-image
                            a.button.size-20.blue.text-white(href='user-event-add.html') Изменить
                    .card.button.card-h
                        .card-h-left
                            .card-h-image 
                                img(src="images/map.png", alt="")
                            .card-h-info 
                                .size-16.weight-500.text-black 07.12.2021
                                a.size-30.text-black(href='user-about-event.html') Название 
                                .text-black Небольшое описание
                                .participants 
                                    .participants-photos
                                        .participants-photo
                                            img(src="images/comment-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/user-photo.png", alt="")
                                        .participants-photo
                                            img(src="images/photo.png", alt="")
                                    .text-black 10 участников
                        .card-h-right.desktop
                            .close-image
                            a.button.size-20.blue.text-white(href='user-event-add.html') Изменить
        #join-window
            .join-card.button.white-white-border 
                .size-30.text-black Чтобы присоединиться к мероприятию, нужно авторизироваться
                button.button.blue.text-white.size-20 Войти
        include component/footer.pug 