doctype html 
html 
    include component/head.pug
    body 
        include component/user-header.pug 
        .hr
        main.main
            include component/user-left-menu.pug 
            .content-wrapper
                .nav-line.content
                    .nav-title.size-30.weight-500.text-black 
                        | Стать партнёром
                
                .profile.become-partner
                    p.size-18 Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации систем массового участия. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения соответствующий условий активизации.
                    a.size-18.text-blue Договор оказания услуг
                    div(style="width: 100%;")
                    a.size-18.button.blue Стать парнтнёром
        include component/footer.pug 
            .login-gradient.body-gradient    