.right-filter 
    .size-26.text-black
        img(src="icon/line.svg", alt="")
        | Отказы
    .size-26.text-black
        img(src="icon/line.svg", alt="")
        | Опубликовано
    .size-26.text-blue.active
        img(src="icon/line.svg", alt="")
        | Все
    button.blue.size-20.text-white Применить