header.header 
    .menu.white-white-border
        .menu-left
            a.logo(href='index.html')
            .search-line.button.white-blue-border.top-search.desktop
                .search-image.blue-search
                input.size-14.text-blue(type="text" placeholder="Поиск")
                button.blue.button.size-14.text-white Поиск
            
        .menu-right 
            .theme.button.desktop
                .dark.button
                    img(src="icon/dark-theme.svg", alt="")
                .light.button
                    img(src="icon/light-theme.svg", alt="")
            .menu-right-buttons 
                a.menu-right-button(href="admin-chat.html") 
                    img(src="icon/black-chat.svg", alt="")
                a.menu-right-button.desktop(href="admin-index.html") 
                    img(src="icon/black-profile.svg", alt="")
                .menu-right-button#user-notification
                    img(src="icon/black-bell.svg", alt="")
                .menu-right-button#user-setting
                    img(src="icon/black-setting.svg", alt="")
            .search-button.mobile.tablet
            .mobile-menu.mobile.tablet
    .user-setting-card.white-white-border.card
        .size-18.text-black Уведомления и сообщения
        a.size-18.text-black.invite(href='admin-black-list.html') Чёрный список
        a.size-18.text-black#exit(href='login.html') Выход
    .user-notificarion-card.white-white-border.card
        .notification-line
            .notification-left
                .notification-image 
                    img(src="icon/black-event.svg", alt="")
                .size-18.text-black Name1 отправил Вам сообщение
        .notification-line.invite 
            .notification-left
                .notification-image 
                    img(src="icon/black-notification.svg", alt="")
                .size-18.text-black Важное уведомление
    .left-menu-mobile.white-white-border.content-wrapper
        .left-menu-top
            .theme.button
                .dark.button
                    img(src="icon/dark-theme.svg", alt="")
                .light.button
                    img(src="icon/light-theme.svg", alt="")
            .left-menu-close
        .profile
            .user
                .user-label
                    .user-photo
                        a(href='guest-profile.html')
                            img(src="images/user-photo.png", alt="")
                        .online
                    a.user-info(href='guest-profile.html')
                        .user-name.size-26.text-black Админ
                        .user-level.size-16.text-grey-2 Мастер
                        .user-location.size-16.text-grey-2 Москва, Россия
            .delete 
                img(src="icon/blue-mobile-exit.svg", alt="")
                .text-blue.size-20 Выход
        .left-menu
            a.size-26.text-black(href='admin-index.html') Главная
            a.size-26.text-black(href='admin-tape.html') Лента
            a.size-26.text-black(href='admin-users.html') Пользователи
            a.size-26.text-black(href='admin-black-list.html') Чёрный список
            a.size-26.text-black(href='admin-portal-status.html') Состояние портала
            a.size-26.text-black(href='admin-analytics.html') Аналитика
            a.size-26.text-black(href='admin-information.html') Информация
            a.size-26.text-black(href='admin-advertisement.html') Реклама
            a.size-26.text-black(href='admin-chat.html') Техническая поддержка
            a.size-26.text-black(href='admin-partners-offer.html') Партнёрство
    a.size-26.text-black(href='admin-partners-list.html') Партнёры
    .menu-search-mobile.white-white-border
        .menu.content-wrapper.white-white-border
            .menu-left
                a.logo(href='index.html')
                .search-button.mobile
            .menu-right 
                .search-button.mobile
                .mobile-menu
        .hr 
        .content-wrapper
            .search-line.button.light-blue-blue-border.top-search
                .search-image.blue-search
                input.size-14.text-blue(type="text" placeholder="Поиск")
                button.blue.button.size-14.text-white Поиск
        .hr 
        .request-mobile.content-wrapper
            .size-40.weight-500 Недавние запросы
            .request-mobile-line 
                | Запрос 1
                .close-image
            .request-mobile-line 
                | Запрос 2
                .close-image
            .request-mobile-line 
                | Запрос 3
                .close-image