.left-menu.white-white-border.desktop
    a.size-26.text-black(href='admin-index.html') Главная
    a.size-26.text-black(href='admin-tape.html') Лента
    a.size-26.text-black(href='admin-users.html') Пользователи
    a.size-26.text-black(href='admin-black-list.html') Чёрный список
    a.size-26.text-black(href='admin-portal-status.html') Состояние портала
    a.size-26.text-black(href='admin-analytics.html') Аналитика
    a.size-26.text-black(href='') Контент
    a.size-26.text-black(href='') Техническая поддержка
