.up 
    img(src="icon/up.svg", alt="")

footer.footer.text-black.size-18.white-white-border
    .footer-list 
        .footer-col 
            a.footer-link.text-black(href="#") Пользовательское соглашение
            a.footer-link.text-black(href="#") Политика обработки персональных данных
        .footer-col 
            a.footer-link.text-blue(href="user-become-partner-1.html") Стать партнёром
            a.footer-link.text-black(href="#") Написать в поддержку
            a.footer-link.text-black(href="#") Реклама и сотрудничество
        .footer-col
            .footer-link Мы в социальных сетях
            .footer-social 
                a.social(href="#") 
                    img(src="icon/grey-facebook.svg", alt="")
                a.social(href="#") 
                    img(src="./icon/grey-vk.svg", alt="")
                a.social(href="#") 
                    img(src="icon/grey-instagramm.svg", alt="")
    .copyright.size-20 © extremy.ru, 2021