.left-menu.white-white-border.desktop
    a.size-26.text-black(href='index.html') Виды спорта
    a.size-26.text-black(href='guest-tape.html') Ленты
    a.size-26.text-black(href='guest-place.html') Места катания
    a.size-26.text-black(href='guest-events.html') Мероприятия
    a.size-26.text-black(href='guest-partners.html') Партнёры
