.header 
    .menu.content.white-white-border
        .logo 
        .search-line.button.white-blue-border.top-search
            .search-image.blue-search
            input.size-14.text-blue(type="text" placeholder="Поиск")
            button.blue.button.size-14.text-white Поиск
        .menu-right 
            .theme.button
                .dark.button
                    img(src="icon/dark-theme.svg", alt="")
                .light.button
                    img(src="icon/light-theme.svg", alt="")
            button.blue.size-20.text-white Войти