.left-menu
    a.size-26.text-black(href='#') Виды спорта
    a.size-26.text-black(href='#') Бортжурналы
    a.size-26.text-black(href='#') Места катания
    a.size-26.text-black(href='#') Мероприятия
    a.size-26.text-black(href='#') Партнёры