aside.left-menu.white-white-border.desktop
    a.size-26.text-black(href='moderator-index.html') Главная
    a.size-26.text-black(href='moderator-tape.html') Лента
    a.size-26.text-black(href='moderator-users.html') Пользователи
    a.size-26.text-black(href='moderator-refusals.html') Отказы
    a.size-26.text-black(href='moderator-black-list.html') Чёрный список
