
<aside class="left-menu white-white-border desktop"><a class="size-26 text-black" href="partners-sports.html">Виды спорта</a><a class="size-26 text-black" href="partners-tape.html">Лента</a><a class="size-26 text-black" href="partners-place.html">Места катания</a><a class="size-26 text-black" href="partners-events.html">Мероприятия</a><a class="size-26 text-black" href="partners-partners-list.html">Партнёры</a>
  <div class="size-26 text-black open-left-podmenu">Моё<img src="icon/arrow-down.svg" alt=""/></div>
  <div class="left-podmenu"><a class="size-20 text-black" href="partners-myfavourites.html">Избранное</a><a class="size-20 text-black" href="partners-subscriptions.html">Подписки</a><a class="size-20 text-black" href="partners-mystorage.html"><img src="icon/blue-plus.svg" alt=""/>Моя кладовка</a><a class="size-20 text-black" href="partners-myplace.html"><img src="icon/blue-plus.svg" alt=""/>Мои места катания</a><a class="size-20 text-black" href="partners-myevents.html"><img src="icon/blue-plus.svg" alt=""/>Мои мероприятия</a></div>
  <div class="size-26 text-black open-left-podmenu-partners">Партнёрство<img src="icon/arrow-down.svg" alt=""/></div>
  <div class="left-podmenu-partners"><a class="size-20 text-black" href="partners-index.html">Главная</a>
    <!--a.size-20.text-black(href='partners-advertisement.html') Рекламная компания-->
  </div>
</aside>