.header 
    .menu.content.white-white-border
        .menu-left
            a.logo(href='index.html')
            .search-line.button.white-blue-border.top-search.desktop
                .search-image.blue-search
                input.size-14.text-blue(type="text" placeholder="Поиск")
                button.blue.button.size-14.text-white Поиск
            
        .menu-right 
            .theme.button.desktop
                .dark.button
                    img(src="icon/dark-theme.svg", alt="")
                .light.button
                    img(src="icon/light-theme.svg", alt="")
            .menu-right-buttons.partners-menu-right-buttons
                a.menu-right-button(href="partners-index.html") 
                    img(src="icon/black-profile.svg", alt="")
                .menu-right-button#user-notification
                    img(src="icon/black-bell.svg", alt="")
                .menu-right-button#user-setting
                    img(src="icon/black-setting.svg", alt="")
            .search-button.mobile
            .mobile-menu.mobile
.user-setting-card.white-white-border.card
    a.size-18.text-black(href='partners-profile-edit.html') Редактировать страницу
    .size-18.text-black.invite Уведомления и сообщения
    .size-18.text-black#exit Выход
.user-notificarion-card.white-white-border.card
    .notification-line 
        .notification-left
            .notification-image 
                img(src="icon/black-level.svg", alt="")
            .size-18.text-black Уровень вашего снаряжения увеличился  (5 ур.)
    .notification-line 
        .notification-left
            .notification-image 
                img(src="icon/black-like.svg", alt="")
            .size-18.text-black Name1 нравится ваше снаряжение
    
    .notification-line 
        .notification-left
            .notification-image 
                img(src="icon/black-follow.svg", alt="")
            .size-18.text-black Name1 начал(а) отслеживать ваш профиль
    .notification-line
        .notification-left
            .notification-image 
                img(src="icon/black-event.svg", alt="")
            .size-18.text-black Name1 приглашает Вас на мероприятие
    .notification-line.invite 
        .notification-left
            .notification-image 
                img(src="icon/black-notification.svg", alt="")
            .size-18.text-black Важное уведомление
    .notification-line
        a.notification-left(href='user-notification.html')
            .notification-image 
                img(src="", alt="")
            .size-18.text-black Смотреть все уведомления
.left-menu-mobile.white-white-border.content
    .left-menu-top
        .theme.button
            .dark.button
                img(src="icon/dark-theme.svg", alt="")
            .light.button
                img(src="icon/light-theme.svg", alt="")
        .left-menu-close
    .left-menu
        a.size-26.text-black(href='partners-index.html') Главная
        a.size-26.text-black(href='partners-tape.html') Лента
        a.size-26.text-black(href='partners-advertisement.html') Рекламная кампания
.menu-search-mobile.white-white-border
    .menu.content.white-white-border.content
        .menu-left
            a.logo(href='index.html')
            .search-button.mobile
        .menu-right 
            .search-button.mobile
            .mobile-menu
    .hr 
    .content
        .search-line.button.light-blue-blue-border.top-search
            .search-image.blue-search
            input.size-14.text-blue(type="text" placeholder="Поиск")
            button.blue.button.size-14.text-white Поиск
    .hr 
    .request-mobile.content
        .size-40.weight-500 Недавние запросы
        .request-mobile-line 
            | Запрос 1
            .close-image
        .request-mobile-line 
            | Запрос 2
            .close-image
        .request-mobile-line 
            | Запрос 3
            .close-image