aside.left-menu.white-white-border.desktop
    a.size-26.text-black(href='partners-index.html') Главная
    a.size-26.text-black(href='partners-tape.html') Лента
    a.size-26.text-black(href='partners-advertisement.html') Рекламная кампания
