.right-filter 
    button.size-26.text-black
        img(src="icon/arrow-down.svg", alt="")
        | Город, регион
    .podmenu-filter#location
        .podmenu-filter-link Страна, регион, город
        input.location.button.size-20(type="text")
    button.size-26.text-black
        img(src="icon/arrow-down.svg", alt="")
        | Вид спорта
    .podmenu-filter#sport
        a.podmenu-filter-link(href="#") Аквабайк 
        a.podmenu-filter-link(href="#") Альпинизм
        a.podmenu-filter-link(href="#") Бейсджампинг 
        a.podmenu-filter-link(href="#") Бокинг
        a.podmenu-filter-link(href="#") Вейкбординг
        a.podmenu-filter-link(href="#") Виндсерфинг
        a.podmenu-filter-link(href="#") Воркаут 
        a.podmenu-filter-link(href="#") Горнолыжный спорт
        a.podmenu-filter-link(href="#") Скоростной спуск
    button.size-26.text-black
        img(src="icon/arrow-down.svg", alt="")
        | С чем помочь
    button.blue.size-20.text-white Применить
    .advertisement-left