.right-filter 
    button.size-26.text-black
        img(src="icon/arrow-down.svg", alt="")
        | Вид спорта
    .podmenu-filter#sport
        a.podmenu-filter-link(href="#") Аквабайк 
        a.podmenu-filter-link(href="#") Альпинизм
        a.podmenu-filter-link(href="#") Бейсджампинг 
        a.podmenu-filter-link(href="#") Бокинг
        a.podmenu-filter-link(href="#") Вейкбординг
        a.podmenu-filter-link(href="#") Виндсерфинг
        a.podmenu-filter-link(href="#") Воркаут 
        a.podmenu-filter-link(href="#") Горнолыжный спорт
        a.podmenu-filter-link(href="#") Скоростной спуск
    button.size-26.text-black
        img(src="icon/arrow-down.svg", alt="")
        | Модель снаряжения
    .podmenu-filter#model
        a.podmenu-filter-link(href="#") Гидрокостюмы
        a.podmenu-filter-link(href="#") Сухие гидрокостюмы
        a.podmenu-filter-link(href="#") Ласты
        a.podmenu-filter-link(href="#") Маски
        a.podmenu-filter-link(href="#") Трубки
        a.podmenu-filter-link(href="#") Дайвинг-компьютеры
        a.podmenu-filter-link(href="#") Регуляторы
        a.podmenu-filter-link(href="#") Октопусы
        a.podmenu-filter-link(href="#") Сумки для дайвинга
    button.size-26.text-black
        img(src="icon/arrow-down.svg", alt="")
        | Локация
    .podmenu-filter#location
        .podmenu-filter-link Страна, регион, город
        input.location.button.size-20(type="text")
    button.size-26.text-black
        img(src="icon/arrow-down.svg", alt="")
        | Уровень подготовки
    .podmenu-filter#level
        a.podmenu-filter-link(href="#") Новичок
        a.podmenu-filter-link(href="#") Любитель
        a.podmenu-filter-link(href="#") Продвинутый
        a.podmenu-filter-link(href="#") Мастер
    button.size-26.text-black
        img(src="icon/arrow-down.svg", alt="")
        | О чём
    .podmenu-filter#about
        a.podmenu-filter-link(href="#") Обо всём
        a.podmenu-filter-link(href="#") Трюки
        a.podmenu-filter-link(href="#") Интересные места
        a.podmenu-filter-link(href="#") Снаряжение
        a.podmenu-filter-link(href="#") Лайфхаки
        a.podmenu-filter-link(href="#") Вопрос — ответ
    button.blue.size-20.text-white Применить
    .advertisement-left