.left-menu.white-white-border.desktop
    a.size-26.text-black(href='user-sports.html') Виды спорта
    a.size-26.text-black(href='user-tape.html') Лента
    a.size-26.text-black(href='user-tape.html') Бортжурналы
    a.size-26.text-black(href='user-place.html') Места катания
    a.size-26.text-black(href='user-events.html') Мероприятия
    a.size-26.text-black(href='user-partners.html') Партнёры
    .size-26.text-black.open-left-podmenu
        | Моё
        img(src="icon/arrow-down.svg", alt="")
    .left-podmenu
        a.size-20.text-black(href='user-myfavourites.html') Избранное
        a.size-20.text-black(href='') Подписки
        a.size-20.text-black(href='user-mystorage.html') 
            img(src="icon/blue-plus.svg", alt="")
            | Моя кладовка
        a.size-20.text-black(href='user-myplace.html')
            img(src="icon/blue-plus.svg", alt="")
            | Мои места катания
        a.size-20.text-black(href='user-myevents.html')
            img(src="icon/blue-plus.svg", alt="")
            | Мои мероприятия
